[2020-07-07 15:51] NikolaMilosavljevic opened #5 "Update SDL group to use the ones defined and maintained by Arcade"
#4

Matt's comment:

core-setup-sdl-validation exists and will allow your pipeline to run, but if this repo does Arcade onboarding you should consider having a "TODO"-type issue about using Arcade's SDL validation stuff so you aren't at the mercy of Davis' secrets expiring. (A shared place for secrets to expire makes it more likely to fix itself when things expire / cycle)

[2020-07-20 18:48] nakarnam opened #9 "ClickOnce Support for .NET Core"
### **Objective**
Provide ClickOnce Support for .NET Core apps in the .NET 5 timeframe i.e. the ability for .NET Core apps to auto update on launch. This brings functional parity across most of the ClickOnce scenarios for the developer community, particularly those in Enterprise/Line of business.

### **High level User Experience and Scope**
Developer experience includes an updated integrated publ

[2020-07-24 16:17] NikolaMilosavljevic opened #13 "X86 artifacts are not published"
Currently only amd64 artifacts are published, but we need both architectures.

[2020-07-25 02:24] #13 closed

[2020-07-30 19:15] MSLukeWest opened #17 "Need symbol publishing of NetCoreCheck.exe for official builds"
I downloaded the nupkgs from the latest build and they fail symchk:

_symchk.exe /s SRV*http://msdl.microsoft.com/download/symbols x86\NetCoreCheck.exe
SYMCHK: NetCoreCheck.exe     FAILED  - NetCoreCheck.pdb mismatched or not found

SYMCHK: FAILED files = 1
SYMCHK: PASSED + IGNORED files = 0_

This prevents the official build from being used by the VS installer.

[2020-07-31 19:06] NikolaMilosavljevic opened #18 "Nuget package name should follow existing naming convention"
Current: `Microsoft.Net.NetCoreCheck`

Expected: `Microsoft.NET.NETCoreCheck`

[2020-08-05 03:24] NikolaMilosavljevic opened #20 "Launcher localization"
Launcher strings and messages are useful for debugging; saved to an optional log file. All strings are in English. Launcher does not have UI and never displays any strings on screen or console.

[2020-08-05 23:01] #17 closed

[2020-08-18 18:29] billybednar commented on #9
That's a bit disappointing. The standard update check has behavior that's problematic in our environment (silently continuing if the update check failed) and we use the `CheckForUpdate` API to supplement it. We just need the boolean result (or exception) and don't actually need to trigger the update. If it's not possible to include at least a subset of the `ApplicationDeployment` class, perhaps th

[2020-08-18 19:21] NikolaMilosavljevic commented on #9
We are tracking work to add support for URL parameters.

I understand that failure in update check, before app launch seems to be ignored today. @billybednar what are the common reasons for failures in update check in you environment?

[2020-08-21 08:40] billybednar commented on #9
Server issues, not being connected to the network, and the deployment being deleted. The first two typically aren't a big deal since they're temporary, but in some cases a warning or other action is desirable. The removal of deployments, typically betas, is our real problem because it leaves behind installations that appear to be getting updates but aren't really. The `ApplicationDeployment` class

[2020-08-21 15:46] NikolaMilosavljevic opened #27 "Improve update detection for .NET (Core) applications deployed with ClickOnce"
.NET (Core) applications deployed with ClickOnce cannot use `ApplicationDeployment` class for on-demand update check.

Besides checking for new updates, this check can be used to ensure that the deployment is still available on the server and wasn't deleted. If application is doing silent updates, without this check, user won't be aware that application is not getting any updates.

Launcher could

[2020-08-26 20:13] wjk opened #28 "We need an official MSIX for Windows Desktop"
What the title says. I've been trying to shift as much of my deployment to MSIX as I can, but under the current state of affairs I have to copy the entire .NET 5 core and desktop runtimes into every package (either a self-contained app build, or manually copying `C:\Program Files\dotnet` under `VFS\ProgramFiles64`). This wastes space and increases download time. It would be even better if this MSI

[2020-08-26 20:21] wjk commented on #9
One question, although I don't think it would be possible to achieve in the near future. As I understand it, ClickOnce installations _always_ prompt the user to click a button during removal, with no way to suppress it. This has resulted in [projects like this one](https://github.com/6wunderkinder/Wunder.ClickOnceUninstaller) needing to exist. Is there any way we could work around this? This issue

[2020-08-26 20:46] Rmurray0809 commented on #27
Would there be any reason ClickOnce couldn't just drop a JSON file with information into the application directory when it is started?  It seems like this would allow an easy way for the application find out information about the install (ie put the version thats on the server, the install URL etc).  It could have extra information in it that would allow the developer to take action based on the i

[2020-08-26 22:09] NikolaMilosavljevic commented on #27
@Rmurray0809 yes, a similar approach is considered - we'll have more details on the design soon.

[2020-08-26 22:25] NikolaMilosavljevic commented on #9
@wjk unfortunately there is no way to uninstall applications silently without writing a custom application to wrap uninstallation process and send keys to accept the dialog prompt. Project you linked works differently and imitates ClickOnce uninstall actions by deleting files and registry keys. I have not investigated it closely and cannot endorse it.

[2020-08-26 22:27] wjk commented on #9
@NikolaMilosavljevic That's fine. Just wanted to throw it out there. Besides, I always install my apps with `/passive` rather than `/quiet`, so I’m used to dealing with popups. 😄 Thanks anyway!

[2020-08-27 00:45] mansellan commented on #9
I recently wrote an [open-source project](https://github.com/mansellan/clickonce) to do this, with a very similar modus operandi - when a net core executable is detected, it creates a netfx launcher (albeit without any finesse wrt parameters). I also wrapped it as an Azure DevOps pipeline task.

In doing so, I noticed the following which might apply to this effort:

- If strong-named .Net Core ass

[2020-08-27 01:33] mansellan commented on #9
I would also agree with @billybednar that the "silent fail" update that ClickOnce ships with is unsatisfactory. We've had to write bespoke telemetry to even notice it, and will likely need to come up with enforcement strategies soon.

[2020-08-27 17:10] NikolaMilosavljevic commented on #9
@mansellan your solution looks great! You are right in all of the points you bring, we have encountered all of them and made decisions to, for instance, do simple-file dependencies and modify MSBuild task to not warn for Core apps. We will also require executable to not have an embedded manifest, that is simply the requirement imposed by ClickOnce runtime. We will be working soon on update, check

[2020-08-27 17:22] RealDotNetDave commented on #9
I have asked for this too. Let me know if you need any help with testing or ideas!

David McCarter

[2020-09-28 21:39] terrajobst opened #35 "Productize DOM APIs for release.json"
@joeloff is working on this. The APIs can be reviewed [here](https://apiview.dev/Assemblies/Review/e38c9c587fdb4d05936b952d743b48bd) (internal only link, sorry). The APIs are here:

### API Propsal

[code]

### Sample usage

[code]

[2020-09-29 19:00] terrajobst commented on #35
* Provides a public API for the release.json
* Distributed as a NuGet package
* Depends on `Newtonsoft.Json`
* Is `Microsoft.Deployment.Releases` the right namespace? Should we fit into the other namespaces used by the SDK tooling, which AFAIK is in in `Microsoft.DotNet`.
* Currently Windows-only (because it targets .NET Framework) but it can be fully cross-platform
* General notes:
    - Instead

[2020-09-30 20:44] joeloff commented on #35
With regards to the namespace question...I see this as something that the SDK might use, but most applications would be outside the SDK space, e.g. a global tool to query released products, installation managers, etc.

Would Microsoft.Deployment.DotNet.Products perhaps capture the intent better?

[2020-10-02 13:03] EdwinEngelen commented on #9
Just wondering whether you've got us covered regarding our migration to .NET 5 and ClickOnce.

In .NET Framework we use the properties `ApplicationDeployment.IsNetworkDeployed` and `ApplicationDeployment.ActivationUri` (includes uri parameters). Two essestial properties in our opinion, because otherwise you can't figure out the address of the server.

Will this information be available (via other

[2020-10-02 15:57] NikolaMilosavljevic commented on #9
Since .NET (Core) doesn't implement ApplicationDeployment, there is no way to do update check or perform the update from the application. Usability of ApplicationDeployment properties is much lower, but I can see the value in obtaining and exposing ActivationUri property.

We are working on a design to add some of this missing functionality to Launcher (as it is a .NET FX app). We planned for doin

[2020-10-08 03:27] Tanya-Solyanik opened #37 "Remove -algorithm command line argument since SHA1 is deprecated"
This parameter has only one possible value now, and has no effect.
https://github.com/dotnet/deployment-tools/blob/7e8a91dd90f161fe4dae62b5d92b6a9c5d0fa9e9/src/clickonce/MageCLI/Command.cs#L602-L616

[2020-10-13 19:03] terrajobst commented on #35
* Pick a strategy: either expose `IReadOnlyXxx` or use `Collection`/`ReadOnlyCollection<T>` types but don't do both
* Some types of the object model have (public) constructors while others don't. Pick one model.
* Is it possible that consumers of this API can observe inconsistencies when files are updated independently? Should this be done via a versioning scheme or simply by serving the files fro

[2020-10-14 23:37] cristianosuzuki77 opened #43 "[loc][query] Assistance with translations"
Does it refer to Microsoft Launcher (due to capitals) or is it a generic term and, therefore, translatable? Left in English by now, please confirm. Several occurrences, examples: Launcher successfully added. 0; "LauncherSuccessfullyAdded" Launcher template "{0}" does not exist. 0; "MissingLauncherTemplate"

[2020-10-14 23:37] cristianosuzuki77 commented on #43
vcq 322030

[2020-10-28 18:51] NikolaMilosavljevic opened #49 "Update documentation to reference new global tool name"
Once new package has been pushed to nuget.org, documentation should be updated to reflect the change in tool name:
https://github.com/dotnet/deployment-tools/blob/master/Documentation/dotnet-mage/README.md

[2020-10-28 20:45] NikolaMilosavljevic commented on #37
Triage agrees with proposal to remove the argument - helps usability going forward.

[2020-10-28 20:57] NikolaMilosavljevic commented on #20
Launcher has no UI. Launcher can log debugging information to help with investigating ClickOnce activation issues. Launcher logging is optional. This is in line with CLR logging which is in English only.

[2020-10-28 20:57] #20 closed

[2020-10-28 20:58] NikolaMilosavljevic commented on #18
@MSLukeWest is this already in place?

[2020-10-28 21:03] NikolaMilosavljevic commented on #9
Closing this issue as the feature is complete: https://devblogs.microsoft.com/dotnet/announcing-net-5-0-rc-2

Thank you for all your input. We look forward to more input as issues in this repo.

[2020-10-28 21:03] #9 closed

[2020-10-28 21:08] mihaimyh commented on #9
I see this issue was closed, do we got something implemented in .NET5?

[2020-10-28 21:44] MSLukeWest commented on #18
No, I didn't make any change to address this

[2020-10-29 01:49] MichaelSimons commented on #9
@mihaimyh - yes, please see the [5.0 RC2 blog](https://devblogs.microsoft.com/dotnet/announcing-net-5-0-rc-2) for a summary.

[2020-10-29 15:58] NikolaMilosavljevic opened #51 "Global tool name change - dotnet-mage"
# Global tool name change - dotnet-mage

Global tool has been renamed from `Mage.NET` to `dotnet-mage`

## Details

Microsoft.DotNet.Mage package (https://www.nuget.org/packages/Microsoft.DotNet.Mage) contains Mage global tool, which can be installed using `dotnet tool install` command.

First version of the package (5.0.0-rc.2.20513.1) contained Mage tool with the old name `Mage.NET`.

Starting w

[2020-10-29 16:06] NikolaMilosavljevic opened #52 "Launcher should support custom .NET host locations"
Launcher can activate FDD (DLL-based) applications by discovering .NET host on user's machine.

Launcher supports default host location (`%ProgramFiles%\dotnet` and `%ProgramFiles(x86)%\dotnet`). However, it should also support custom host locations that can be set using environment variables and registry keys.

This feature request is related to FDD only. FDE and SCD applications contain their ow

[2020-10-29 16:20] NikolaMilosavljevic opened #53 "Add support for URL parameters"
It would be valuable if .NET 5 applications, deployed by ClickOnce, could gain access to URL parameters, specified by the user in the app activation URL.

.NET FX applications could use `ApplicationDeployment` class to obtain URL parameters: https://docs.microsoft.com/en-us/dotnet/api/system.deployment.application.applicationdeployment.activationuri?view=netframework-4.8

This method is not availa

[2020-10-29 16:28] NikolaMilosavljevic commented on #43
@cristianosuzuki77 Launcher is the name of the binary and also the primary concept for ClickOnce activation of .NET 5 apps. It is true that Launcher binary 'launches' the .NET 5 application.

When we say 'Launcher successfully added' it refers to the binary, which is named Launcher.exe. Similarly, in the next example 'Launcher template {0} does not exist' - we refer to the binary name.

[2020-10-29 20:00] MSLukeWest commented on #18
Fixed

[2020-10-29 20:00] #18 closed

[2020-10-29 20:13] #43 closed

[2020-10-30 18:53] #49 closed

[2020-10-30 20:44] NikolaMilosavljevic commented on #9
@mihaimyh we are working on documentation, for final release. At the moment we have some small docs for command-line experience at: https://github.com/dotnet/deployment-tools/tree/master/Documentation/dotnet-mage

[2020-10-30 20:56] mihaimyh commented on #9
Thank you, I will look into it.

[2020-10-31 05:09] maryamariyan opened #55 "testing labeler"

[2020-10-31 05:15] #55 closed

[2020-10-31 05:15] maryamariyan opened #56 "testing labeler"

[2020-10-31 05:20] #56 closed

[2020-10-31 05:20] maryamariyan opened #57 "testing labeler"

[2020-10-31 05:21] #57 closed

[2020-11-03 18:53] NikolaMilosavljevic opened #58 "Mage package does not contain a good package description"
Mage package (https://www.nuget.org/packages/Microsoft.DotNet.Mage) contains a default package description: "Package description".

This should be updated to be Mage-specific, i.e.: "Mage global tool for building ClickOnce deployments of .NET applications."

[2020-11-04 18:26] NikolaMilosavljevic opened #61 "We need a new package for NetCoreCheck binaries - for nuget.org release"
We currently have VS.Redist.Common.NetCoreCheck package that is automatically published to VS feed for every build. As such, VS.* packages have to have unique versioning, and cannot be switched to stable versioning.

New package name ideas:
Microsoft.NET.NETCoreCheck
Microsoft.NETCoreCheck
Microsoft.NET.Tools.NETCoreCheck

[2020-11-04 21:58] NikolaMilosavljevic commented on #52
Let's wait for customer input and we can revisit if requested.

[2020-11-04 21:58] #52 closed

[2020-11-05 23:26] NikolaMilosavljevic commented on #61
Approved by Triage.

[2020-11-06 01:30] #61 closed

[2020-11-09 16:59] #51 closed

[2020-11-12 14:05] farhadmammadli commented on #9
@NikolaMilosavljevic I tried to migrate from dotnet framework 4 to dotnet core 3.1 or v5, but still cannot use
ApplicationDeployment class. Tried to install preview version of VS, still not found. How can I use it?

I am using WPF and installed dotnet 5.0

[2020-11-12 15:58] NikolaMilosavljevic commented on #9
@farhadmammadli ApplicationDeployment class is not available - that class is implemented in System.Deployment assembly that is not part of .NET Core 3.1 or .NET 5.

We will have a way to expose some of the properties that the class enables, i.e. URL parameters and update status. But, that work could not be completed for .NET 5 release. We will enable it in one of .NET 6 previews. Here are the trac

[2020-11-12 16:01] raffaeler commented on #9
@NikolaMilosavljevic If this is not yet available, can you explain the current supported scenario?
I can't see how to migrate certain WPF applications that are currently deployed using .NET Framework  with ClickOnce.

[2020-11-12 16:13] NikolaMilosavljevic commented on #9
@raffaeler Use of ApplicationDeployment class in your deployed ClickOnce application is not possible, but main ClickOnce experience is available. It includes: creating ClickOnce deployment (manifests), publishing the application, creating and publishing updates. Your application will get automatic update check (and update, if user accepts it) - this part is handled by ClickOnce runtime and the new

[2020-11-12 16:17] raffaeler commented on #9
I am using VS and didn't try to port any app just because they were missing ClickOnce and ApplicationDeployment that we heavily used for many apps.
I am not sure whether it can be wise for us to undo the code supporting ApplicationDeployment or just wait.

For sure I would be more comfortable in waiting an update not tied to .NET vNext.

[2020-11-12 16:46] NikolaMilosavljevic commented on #9
Which methods and properties from ApplicationDeployment class are mostly used in your apps? Is it primarily for on-demand update check?

Previews of dotnet-mage and VS would bring new features and fixes throughout the year and will not be tied to final build of .NET 6.

However, I would suggest, if at all possible, trying to convert some of those apps, early. It would help discover the missing sce

[2020-11-12 17:01] raffaeler commented on #9
These are the members that are very used from most of the apps:

* CurrentDeployment
* CheckForUpdateCompleted
* CheckForUpdateAsync
* UpdateCompleted
* UpdateAsync
* IsNetworkDeployed
* CurrentVersion
and
* CheckForUpdateCompletedEventArgs

I would start to migrate those apps, but we could not get rid of the ApplicationDeployment. Users are already used to rely on that behavior.

[2020-11-12 17:14] rkone opened #68 "Clickonce project reference issue"
Trying to publish a ClickOnce application with a reference to a class library using an alternate target framework, the referenced framework folder is the same as the main project's framework folder.
For instance, my sample net5.0-windows app adds the reference like so:
/reference:<solution folder>\ClassLibrary1\bin\Release\net5.0-windows\ClassLibrary1.dll
The actual file is in: \ClassLibrary1\bin\

[2020-11-12 17:44] NikolaMilosavljevic commented on #9
Thanks! These all seem related to on-demand update, during application runtime. Are your applications long running, or relaunched semi-frequently, i.e. every day? How often is an update deployed, on average?

One option, perhaps simplistic, would be to initiate application restart, which would cause automatic check for update and prompt for installation, if one is available. Using today's on-deman

[2020-11-12 17:49] raffaeler commented on #9
It depends on the applications. Mostly they are run once per day but some of them may require to be restarted because of changes on the server side (services).
I can't rely just on restarting the app because we have a UI for telling the users whether they want to continue, update or roll-back.
BTW rollback is important because sometimes the changes do not work well for them.

[2020-11-13 15:50] MarcDrexler opened #69 "Clickonce deployment from the command line"
Hi,
I'm trying to publish a winforms app (net core 3.1) through the command line. I created a new ClickOnce Profile using Visual Studio (16.8.1), and a click on the publish button was also successful.

I think Visual Studio is using "dotnet publish" in the background. What command line options are used?

When I try "dotnet publish -p:PublishProfile=ClickOnceProfile"
I get the following output:

[c

[2020-11-16 19:35] NikolaMilosavljevic commented on #9
@raffaeler there are several ways to invoke rollback from your application - which one do you use? It would help us solidify the requirements for this feature.

[2020-11-16 19:50] raffaeler commented on #9
@NikolaMilosavljevic  currently the user redirected to the internal website where the apps are published and he/she is free to install any previous releases. In case of breaking changes not compatible with the server side, the incompatible version will advise the user that the version is too old. Not a perfect solution, but very easy and understandable for the user.
The point here is that the webs

[2020-11-16 20:23] billpeet opened #71 "ClickOnce publish fails if project reference uses different target framework"
Not sure if this is the right repo to file this under, but here goes.

Repro steps:
1. Create Windows desktop app, targeting net5.0-windows (or netcoreapp3.1)
1. Create a project reference to a class library, targeting netstandard2.1 (or netstandard2.0)
1. Deploy using ClickOnce, using target framework net5.0-windows, Framework-dependent, Portable

Publish fails, with following build output:
[code

[2020-11-16 21:42] rallets opened #72 ".NET 5 ApplicationDeployment.CurrentDeployment.DataDirectory"
Hi, I have an application that rely on `ApplicationDeployment.CurrentDeployment.DataDirectory` and `ApplicationDeployment.IsNetworkDeployed` to be able to get access to a json config file that should be kept between different versions of the same application.
I know `System.Deployment.Application` is not supported now.
So I'm wondering how I can achieve the same functionality in .NET 5, what is th

[2020-11-19 16:09] NikolaMilosavljevic commented on #69
@MarcDrexler I believe `dotnet publish` experience is not enabled at the moment. However, you can still use command-line to publish projects created in Visual Studio using VS Developer prompt and an MSBuild command like the following: `msbuild /t:publish -p:PublishProfile=ClickOnceProfile`

cc @sujitnayak @John-Hart

[2020-11-19 16:18] NikolaMilosavljevic commented on #72
Related to https://github.com/dotnet/deployment-tools/issues/27

[2020-11-24 06:48] RomainAn commented on #69
It works with msbuild you will face some issues as i do.
Some attribute of your pubxml file will not being used (Such as Configuration, PublishFolder)
Also the version will not being incremented.

[2020-12-02 21:32] MarcDrexler commented on #69
@NikolaMilosavljevic thanks! That helped me and I have now been able to integrate it into our pipeline.

However, I can install the application and updates are also detected and installed at startup. BUT then unfortunately the actual app does not start and the event log shows this error:

[code]

I have no idea how to fix this or what to do. When I start the executable from the application files d

[2020-12-02 21:39] John-Hart commented on #69
We're tracking the missing file issue here: https://developercommunity2.visualstudio.com/t/A-NET-Core-31-or-NET-50-application-/1248873.

Using dotnet-mage is the only work around right now.

[2020-12-02 22:16] NikolaMilosavljevic commented on #68
@John-Hart @sujitnayak can you please route this into VS ClickOnce issue and let us know so we can close this issue?

[2020-12-02 22:19] NikolaMilosavljevic commented on #69
Closing in favor of the VS issue linked above.

[2020-12-02 22:19] #69 closed

[2020-12-02 22:23] NikolaMilosavljevic commented on #71
@John-Hart @sujitnayak can you please route this into VS ClickOnce issue and let us know so we can close this issue?

[2020-12-02 23:09] John-Hart commented on #68
Thanks @rkone.

I've opened a Visual Studio feedback item to track this: https://developercommunity2.visualstudio.com/t/ClickOnce-Publish-for-NET-Core-31-and-/1275937. I did find a work around was to target a specific runtime instead of using Portable.

If you find run into any more issues please use the Help >Send Feedback menu in Visual Studio

[2020-12-02 23:09] John-Hart commented on #71
Thanks @billpeet

I've opened a Visual Studio feedback item to track this: https://developercommunity2.visualstudio.com/t/ClickOnce-Publish-for-NET-Core-31-and-/1275937. I did find a work around was to target a specific runtime instead of using Portable.

If you find run into any more issues please use the Help >Send Feedback menu in Visual Studio

[2020-12-06 03:20] desjarlais opened #74 "Pinned taskbar app is orphaned after update"
Scenario: I publish a .NET 5 app using ClickOnce and then pin the app to the Windows taskbar.  After pinning to the taskbar, if I update the app, it will be orphaned to the old version.  The Start Menu app icon works fine after the update, it just seems to be the taskbar.  Is there any way to work around having to unpin/repin the app icon post update?

[2020-12-09 19:22] NikolaMilosavljevic opened #77 "Release builds are failing with mismatched compiler error"
With latest Arcade update we now need VS 16.8 for building. All pool machines have also been updated with VS 16.8.

This causes an error in builds of release configuration due to mismatched compiler of new native code and old one, referenced in libnethost.lib.

Error:

[code]

[2020-12-09 21:37] NikolaMilosavljevic commented on #68
Closing in favor of VS Feedback issue.

[2020-12-09 21:37] #68 closed

[2020-12-09 21:37] NikolaMilosavljevic commented on #71
Closing in favor of VS Feedback issue.

[2020-12-09 21:37] #71 closed

[2020-12-09 21:40] NikolaMilosavljevic commented on #74
Investigating.

[2020-12-10 18:06] NikolaMilosavljevic commented on #77
Fixed with https://github.com/dotnet/deployment-tools/pull/78

[2020-12-10 18:06] #77 closed

[2020-12-15 21:21] luisabreu opened #79 "ApplicationDeployment should be migrated to NET 5.0"
Hello guys.

It seems like ApplicationDeployment API [won't be ported to .NET 5.0](https://github.com/dotnet/deployment-tools/issues/9). This API is really important for a couple of important scenarios:

1. it gave us a way to force the user to always use the latest version of the windows forms app
2. it allowed us to easily implement an auto-update procedure for long lived apps (similar to what s

[2020-12-16 21:38] NikolaMilosavljevic commented on #79
Thanks for adding another voice for improving ApplicationDeployment API availability in ClickOnce for .NET 5. We are tracking this request in the following issue: https://github.com/dotnet/deployment-tools/issues/27

[2020-12-16 21:38] #79 closed

[2020-12-16 21:38] NikolaMilosavljevic commented on #72
Thanks for adding another voice for improving ApplicationDeployment API availability in ClickOnce for .NET 5. We are tracking this request in the following issue: #27

[2020-12-16 21:38] #72 closed

[2020-12-24 00:19] konradsikorski opened #80 "Bug: ClickOnce publish error when solution contains projects with different targets"
I have WPF application. I have migrated it to .NET 5 and it works, great. My app uses ClickOnce to release new versions. The ClickOnce publish process will fail when the solution contains projects with different target frameworks.

To simplify the problem please create one empty WPF application in .NET 5 (target framework: net5.0-windows) next add library project to this solution in .NET 5 (target

[2021-01-05 02:54] mansellan commented on #37
Note, this is also surfaced in the VS publish UI.

[2021-01-05 16:35] NikolaMilosavljevic commented on #37
@John-Hart , @sujitnayak, are there plans to disable SHA1 selection in VS publish UI? We will remove "-algorithm" option from Mage tool. We default to, and always use, SHA256.

[2021-01-05 18:05] John-Hart commented on #37
It is still in VS, I believe for backwards compatibility with .NET 2.0 projects, but it is not the default option.

[2021-01-05 18:18] John-Hart commented on #37
I should add, I need to verify my memory on that decision,  but what we can do though is remove it as option for all other projects.

[2021-01-06 22:02] NikolaMilosavljevic commented on #80
@John-Hart @sujitnayak can you please route this into VS ClickOnce issue and let us know so we can close this issue?

[2021-01-11 23:49] MSLukeWest opened #81 "NETCoreCheck - Add support for Arm64"
Right now we build x86 and x64 versions of NETCoreCheck.exe.  We should also support building Arm64, and publish a NuGet package for this version as well.

[2021-01-12 00:06] MSLukeWest opened #82 "NETCoreCheck - Add support for specifying roll forward policy"
Right now the temporary runtime config files created and loaded by NETCoreCheck never have any value specified for the roll forward policy, which limits it's usefulness for determining whether or not a particular .NET app will be able to run.  We should add a third parameter to NETCoreCheck for the roll forward policy.  For example, running:

NETCoreCheck.exe Microsoft.WindowsDesktop.App 3.1.0 **L

[2021-01-13 01:20] desjarlais opened #83 "Publishing to Unc path with ClickOnce causes VS to hang"
I typically deploy to an internal unc share for my app, but recently the server I use was down and I didn't know it.  When I went to publish my updated project to the share, VS2019 would hang and never respond back, it just kept the spinning icon.  Shouldn't there be some kind of timeout for unavailable / unreachable unc paths?

[2021-01-15 14:12] Deilan opened #84 "NETCoreCheck usage guide"
Could you please provide NETCoreCheck usage guide or some other kind of documentation for it?

I downloaded release from NuGet, tried to launch both [x86](https://www.nuget.org/packages/Microsoft.NET.Tools.NETCoreCheck.x86/5.0.0) and [x64](https://www.nuget.org/packages/Microsoft.NET.Tools.NETCoreCheck.x64/5.0.0) `NetCoreCheck.exe`, but the tool process exits immediately without any output. Passin

[2021-01-15 16:36] maryamariyan opened #85 "test issue labeler"

[2021-01-15 16:36] #85 closed

[2021-01-16 00:15] desjarlais opened #86 "Error: assembly specified in the application dependencies not found"
I added WebView2 to my project and deployed through ClickOnce.  After installing, I get the following error in Event Viewer:

Description: A .NET application failed.
Application: Case NotePad.exe
Path: C:\Users\brandes\AppData\Local\Apps\2.0\2V7CXATV.M61\CX319N6T.2CJ\case..tion_5964a32ae0c4e4e8_0001.0000_70afaffa3727f90c\Case NotePad.exe
Message: Error:
  An assembly specified in the application d

[2021-01-20 21:46] NikolaMilosavljevic commented on #83
@John-Hart @sujitnayak can you please route this into VS ClickOnce issue and let us know so we can close this issue?

[2021-01-20 21:48] NikolaMilosavljevic commented on #86
@John-Hart @sujitnayak can you please route this into VS ClickOnce issue and let us know so we can close this issue?

[2021-01-21 01:12] MSLukeWest commented on #84
You're right, we should add this.  For now I'll explain it here:

Arg 1 (Required): Runtime Name, meaning one of these three: "Microsoft.AspNetCore.App", "Microsoft.WindowsDesktop.App", "Microsoft.NETCore.App"
Arg 2 (Required): Version to check for in format x.y.z (Examples: 3.1.0, 5.0.2)
Arg 3 (Optional): Path to log file, defaults to %temp%\dd_NetCoreCheck_12345.log

If it returns 0 the runtime

[2021-01-21 20:16] desjarlais commented on #86
I remember reading this was fixed in 16.8.4, but I did install that and still noticed the issue.

For some reason, now it seems to be working fine, so I don't know if the publish profile I was using had some kind of cached data that caused this issue to continue to repro, but after deleting my previous profile and re-publishing, now the runtimes location appears to be getting added correctly and t

[2021-01-22 22:06] John-Hart commented on #80
@konradsikorski thanks.  We're working on a solution.  You can track the status with this Developer Community issue: https://developercommunity2.visualstudio.com/t/ClickOnce-Publish-for-NET-Core-31-and-/1275937.

If you run into further ClickOnce issues in Visual Studio you can report them via the Help > Send Feedback menu.

Thanks
John

[2021-01-22 23:04] John-Hart commented on #83
@desjarlais that's not a bad idea, it is just a MSBuild that cannot access the path at that point.  We'll keep an eye on this and if this become common we'll look adding some check.
If you have other suggestions for the Visual Studio ClickOnce please use the Help > Provide Feedback menu

[2021-01-22 23:06] John-Hart commented on #86
@desjarlais I'm glad to hear it is working for you now.  The fix was in MSbuild so not sure why it didn't work the first time after 16.8.4 was installed.

[2021-01-23 02:54] desjarlais commented on #83
Will do, thanks for the tip!

[2021-01-25 16:53] #80 closed

[2021-01-25 16:54] #83 closed

[2021-01-25 16:54] #86 closed

[2021-01-25 19:24] jonrmorgan99 commented on #79
Hi All,

My first contribution to GitHub !

I've just migrated my 20 year old app (originally written in 8086Assembler) from .Net 4.6.1 to .Net 5. It was great to find that ClickOnce made the cut and the new wizard is impressive.

However like the OP, without in-app updating using the ApplicationDeployment API I'll have to stay with .Net 4.8 or look at alternatives to ClickOnce.

Over the years Cl

[2021-01-25 19:27] NikolaMilosavljevic opened #91 "Enable Linux builds"
We will soon need to run some tests on Linux and need to compile native binaries for those.

Eventually we could have native Linux binaries and packages.

This issue tracks the following work:

- [ ] Updates in Azure pipelines for Linux support
- [ ] Updates in build infrastructure for Linux support

[2021-01-28 15:16] TimKras commented on #27
Any updates about this?

[2021-01-28 19:17] NikolaMilosavljevic commented on #27
@TimKras thank you for the interest in this feature. We don't have an estimate, yet, when it would be available as a preview.

cc @dleeapho

[2021-02-03 21:52] NikolaMilosavljevic commented on #91
[Triage] @joeloff are you thinking of doing this as part of your library work?

[2021-02-04 09:26] derskythe commented on #27
For those people who want to use ClickOnce on .NET 5 and want silently update, I wrote a small wrapper that implements some of the ApplicationDeployment properties:

- CurrentVersion
- ServerVersion
- UpdateAvailable
- Update
- IsNetworkDeployment
- DataDir

Hope this helps someone: https://github.com/derskythe/WpfSettings

[2021-02-08 17:37] joeloff commented on #91
I was thinking of doing it separately once we got the initial code changes in.

[2021-02-15 21:13] joeloff opened #96 "Consider using IHttpClientFactory"
### Description

In the initial PR it was pointed out that the use of ```HttpClient``` could result in socket exhaustion and that ```IHttpClientFactory``` should be used to address this.

The library however only supports .NET Standard 2.0 and .NET 4.6.1, which effectively excludes using it because the releases package targets 4.5.2

[2021-02-16 04:48] wegoodwin opened #97 "Mage with EV Cert on usb Stick"
Hi,

EV Certs are now given out on a usb stick.  I need to make a change to the manifest file for a Clickonce deployment, but mage does not give the option of using the usb stick it only takes .pfx files.  Is there some sort of flag I am unware of that will let me resign an app with mage?

[2021-02-17 21:40] NikolaMilosavljevic commented on #97
@wegoodwin is this for dotnet-mage and .NET 5 or .NET FX 4.8?

[2021-02-17 23:14] wegoodwin commented on #97
@NikolaMilosavljevic

I figured out what I needed to do.  The -CertHash parameter can be used in lieu of certfile/password.  The certhash value is the same thing as the thumbprint which you can find on the certificate properties.

For example:
mage -Sign AppToDeploy.exe.manifest -CertHash 1a2222b3d444444c5555d666666b77eee888ff99g

[2021-02-17 23:14] #97 closed

[2021-02-18 17:12] wegoodwin opened #99 "mage.exe partially enocdes manifest with SHA1"
I created a MS Word plugin with .net 4.8.  The customer has a slightly older version of MS word than what is on my development machine.  I get the following error when I try to run the plugin:

System.Security.Cryptography.CryptographicException: SignatureDescription could not be created for the signature algorithm supplied.
at System.Security.Cryptography.Xml.SignedXml.CheckSignedInfo(AsymmetricA

[2021-02-19 10:44] coder925 opened #101 "ClickOnce stops searching for updates"
### Description

I'm running `dotnet mage` to publish deployments, but the client is only updating one time. (UpdateOnce :relaxed:)

I'm expecting the client to always update to the latest required version if there is a newer version available. This is regardless how often new updates are released.

#### Steps to reproduce:

1. Create a file _deploy-first.bat_ in c:\temp with content:
[code]
2. Cr

[2021-02-23 13:38] AchimStuy commented on #69
@NikolaMilosavljevic

What is the exact command?

* `msbuild /t:publish -p:PublishProfile=ClickOnceProfile` leads to Error MSB4041: The default XML namespace of the project must be the MSBuild XML namespace.
* `dotnet msbuild /t:publish -p:PublishProfile=ClickOnceProfile` leads to the original Error MSB4803: The task "FormatUrl" is not supported on the .NET Core version of MSBuild.

I have followi

[2021-02-23 13:42] AchimStuy commented on #69
Please excuse, I tried with normal PowerShell. With Developer Command prompt, as you said, it's working.

[2021-02-24 22:00] NikolaMilosavljevic commented on #101
[Triage] Please investigate.

[2021-02-24 22:03] NikolaMilosavljevic commented on #99
This seems to be an issue with .NET FX Mage tool, installed with Visual Studio or .NET FX SDK. The following page describes ways to submit feedback and open issues with these products: https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019

[2021-02-24 23:51] wegoodwin commented on #99
OK,  I submitted feedback with screenshots.  Do I need to close this issue?

[2021-02-25 19:35] NikolaMilosavljevic commented on #99
Thanks @wegoodwin - closing the issue.

[2021-02-25 19:35] #99 closed

[2021-02-26 17:35] timmydo opened #103 "Releases.json doesn't provide zip files for linux sdks/runtimes"
We were previously consuming linux .NET SDKs using the pattern: $"https://dotnetcli.azureedge.net/dotnet/Sdk/{netSdkVersion}/dotnet-sdk-{netSdkVersion}-linux-{arch}.zip";

We aren't able to migrate to using releases.json/Microsoft.Deployment.DotNet.Releases since this doesn't have matches: netSdkVersion.Files.First(r => r.Rid == $"linux-{arch}" && r.FileName.EndsWith(".zip")).Address.ToString();

[2021-03-01 17:23] joeloff opened #104 "Releases.json should reference CDN"
The releases.json ProductCollection is referencing the blob storage URL directly instead of using the CDN URL, https://dotnetcli.azureedge.net/dotnet/release-metadata/releases-index.json

[2021-03-02 21:09] NikolaMilosavljevic opened #105 "Default branch renamed from master to main"
On March 4th 2021 (Thursday) we renamed the default branch in this repository to main. For more details, see [our earlier announcement](https://github.com/dotnet/announcements/issues/172).

[2021-03-08 18:32] greatoceansoftware commented on #27
I definitely need the functionality of ApplicationDeployment. I can't seeing declaring victory of bringing ClickOnce to .NET 5/6 without it.

This is mainly because the limitation of only checking at application startup is annoying for most users. It's funny that they don't mind a splash screen with loading progress, but they mind this. Mainly because they want update checking AT THEIR CONVENIENCE

[2021-03-09 13:00] Deilan opened #108 "[NetCoreCheck] Provide a way to check a range of versions"
Currently NetCoreCheck could be used to check whether is specific version of runtime is installed.

Would be also convenient to check whether any version within provided range is installed, e.g.: `3.x`, `3.1.x`, `>=3.0.0`, `>=5.0.0 < 5.1`, etc.

[2021-03-10 21:40] NikolaMilosavljevic commented on #103
[Triage] cc @leecow

[2021-03-16 15:28] coder925 commented on #101
@NikolaMilosavljevic , thank you for looking into this. Where you able to reproduce the issue?
Please let me know in the case I'm doing something wrong or if there is any other workarounds. For now, I'm deploying my app with `-Install false`. However, I'd like to switch to an installed app as soon as I can get the updates to work. Thanks!

[2021-03-16 16:18] NikolaMilosavljevic commented on #101
@coder925 apologies for the delay - I will try to repro this today.

[2021-03-18 08:45] dqwork opened #109 "Clickonce IsFileGroupDownloaded bug"
### Description

We have a filegroup in our clickonce deployment that is optional, contained in the file group are some dll's that are not directly referenced by our project and rarely get updated, they are copied into our projects output folder via a nuget package that just injects content files.

* Downloading the filegroup when needed works great.
* Future runs of that application version also

[2021-03-18 16:29] NikolaMilosavljevic commented on #101
@coder925 I was able to reproduce this issue.

However, if I modify your `deploy-next.bat` script to replace `-mv %coVersion` with `-i true` you will get the correct update experience, for all app updates.

I will debug why `-mv` option does not produce the expected outcome.

[2021-03-18 17:25] coder925 commented on #101
@NikolaMilosavljevic , good that you were able to reproduce it and thanks for the found workaround!

In my specific case unfortunately, I cannot skip the `-mv` option. Whenever there is an update available, my clients must update in order to be allowed to run the app. Hopefully it can be fixed.

[2021-03-19 09:52] mc0re commented on #69
Any chance ClickOnce will work with `dotnet` cli?

[2021-03-22 18:58] John-Hart commented on #69
We recommend using [dotnet mage](https://github.com/dotnet/deployment-tools/blob/main/Documentation/dotnet-mage/README.md#:~:text=dotnet-mage%20(previously%20also%20known%20as%20Mage.NET)%20is%20the,It%20is%20available%20at%20Nuget.org.%20Latest%20version%20https://www.nuget.org/packages/Microsoft.DotNet.Mage/5.0.0) for creating a ClickOnce manifests from the cli

[2021-03-23 09:05] mc0re commented on #69
@John-Hart `mage` is a tool that has to be installed via `dotnet tool install`, which means I cannot use it in an _Azure DevOps_ pipeline. Is there a way to create a _click once_ package along with `setup.exe` from a pipeline?

[2021-03-24 11:01] mc0re commented on #69
@John-Hart Creating manifests comes after the files are published. I cannot publish due to "FormatUrl task not supported".

[2021-03-24 11:02] mc0re commented on #69
I guess I can use the `dotnet custom` command to install it.

[2021-03-24 20:32] NikolaMilosavljevic commented on #109
This seems to be an issue with .NET FX Mage tool, installed with Visual Studio or .NET FX SDK. The following page describes ways to submit feedback and open issues with these products: https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019

[2021-03-24 20:32] #109 closed

[2021-03-28 22:48] billpeet commented on #53
Any update on this one?
As far as I can see there's literally no way of passing command line arguments to a ClickOnce-deployed .NET 5.0 app at the moment, correct me if I'm wrong?
This is a show-stopper for me porting existing Framework apps to .NET 5.0.

[2021-03-29 15:20] NikolaMilosavljevic commented on #53
Thank you for your interest in this feature. This is still being tracked for 6.0 milestone. However, we do not have any specific timeline yet.

[2021-03-29 16:22] tormnator commented on #53
This also a major issue for us. We deploy our application to hundeds of customers via ClickOnce, but can't move to .NET 5/6 until we have support for URL parameters (as well as some of the missing pieces of System.ApplicationDeployment). By "6.0 milestone", do mean literally by 6.0? Or sometime after the initial 6.0 release?

[2021-04-09 17:25] jonrmorgan99 commented on #27
Totally agree - without in-app updating ClickOnce is neutered. MSIX is not a real world alternative at present. Under NetFX ClickOnce proved it's reliability which is presumably why it made the cut to .Net5/6.

So please re-open this issue and let's have a progress update. Thanks.

[2021-04-10 01:14] MSLukeWest commented on #108
@Deilan This is not entirely accurate.  The point of NETCoreCheck is to answer the question "My app needs runtime x version y and (optionally) has roll-forward policy z, can it run on this machine?"  So while this request is not exactly inline with the goals of NETCoreCheck, it can still answer all the questions posed above, for example (assuming requested framework is Windows Desktop):

- `3.x`

[2021-04-12 22:13] MSLukeWest commented on #82
Fixed in the 6.0.0-preview.1.21179.1 version of the Microsoft.NET.Tools.NETCoreCheck NuGet packages

[2021-04-12 22:13] #82 closed

[2021-04-12 22:14] MSLukeWest commented on #81
Fixed: https://www.nuget.org/packages/Microsoft.NET.Tools.NETCoreCheck.arm64/6.0.0-preview.1.21179.1

[2021-04-12 22:14] #81 closed

[2021-04-12 22:16] MSLukeWest commented on #84
Fixed in the 6.0.0-preview.1.21179.1 version of the Microsoft.NET.Tools.NETCoreCheck NuGet packages

Now that there's two optional parameters we had to change the syntax to require names for each parameter.  Here's the current usage guide from running NETCoreCheck /?:

[code]

[2021-04-12 22:16] #84 closed

[2021-04-18 22:34] luronumen commented on #53
Unable to port WinForms project from **.NET Framework 4.8** to **.NET 5.0** due to the following issue:
_CS0234 - The type or namespace name 'Deployment' does not exist in the namespace 'System' (are you missing an assembly reference?)_

[2021-04-18 22:34] luronumen commented on #27
Unable to port WinForms project from **.NET Framework 4.8** to **.NET 5.0** due to the following issue:
_CS0234 - The type or namespace name 'Deployment' does not exist in the namespace 'System' (are you missing an assembly reference?)_

[2021-04-27 06:42] deccer opened #112 "Documentation: Broken link in README.md"
### Description

Hi guys,
I was reading through your README trying to see how to get started, what process to follow etc, so I naturally clicked on links which may provide further information.

In the section "How can I contribute" the link behind `Get Up and Running on .NET Core` points to <https://github.com/dotnet/deployment-tools/blob/main/documentation/project/dogfooding.md> which doesn't see

[2021-04-27 13:06] Pipelynx commented on #53
I just wanted to add that I also need this, please add it in a future version!

[2021-04-29 10:59] nzain opened #113 "ClickOnce FileAssociation arguments not forwarded to application"
### Description
After migration of a .Net Framework (4.7.2) WPF ClickOnce application to `net5.0-windows` the original API for file associations seems to be missing and I could not find detailed documentation about [file associations](https://docs.microsoft.com/en-us/visualstudio/deployment/how-to-create-file-associations-for-a-clickonce-application?view=vs-2019) in .Net 5.

The definition of the

[2021-05-03 18:56] desjarlais commented on #74
This appears to be fixed after installing VS 16.9.4

[2021-05-04 19:40] mthalman opened #115 "Release build legs are failing for NetCoreCheck"
Release build legs are failing in main branch:

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=1121249&view=results

cc @MSLukeWest, @NikolaMilosavljevic

[2021-05-04 20:16] NikolaMilosavljevic commented on #115
We've seen this in the past, but it was fixed several months ago.

@MSLukeWest are you aware of any changes that could have caused this?

@mthalman does your local builds work fine? Release and debug?

[2021-05-04 20:51] mthalman commented on #115
Release config fails locally too.

[2021-05-04 21:46] MSLukeWest commented on #115
@NikolaMilosavljevic   I'm not aware of any changes that could have caused this, the build worked fine the last time I edited NETCoreCheck a couple months ago.  If you'll recall, last time this was fixed by updating the .NET Toolset, see https://github.com/dotnet/deployment-tools/pull/87/files.  Has the toolset been updated since then?

@mthalman  If you're blocked by this just go ahead and change

[2021-05-05 18:22] joeloff opened #116 "Releases.json - support creation of components from JSON snippets"
When .NET ships, we have cases where we only need to process partial JSON files, e.g. a single product release. Although the library supports those, the APIs are all internal and the creation APIs are only available at the ```ProductCollection``` level.

We should consider enabling similar Create methods on ```Product``` and ```ProductRelease```

[2021-05-05 20:53] NikolaMilosavljevic commented on #113
[Triage] @NikolaMilosavljevic, please check if this will be supported with https://github.com/dotnet/deployment-tools/issues/53 or https://github.com/dotnet/deployment-tools/issues/27, or if it needs a different workaround.

[2021-05-20 20:41] NikolaMilosavljevic commented on #53
Thank you for your interest in this feature. I've added the "untriaged" label to bring this to our next triage meeting.

[2021-05-25 11:00] Mark123New commented on #113
I'm currently facing the same problem.

Besides the points of the thread owner, i also tried to get the directory the application was started from - the folder that contains the associated file that was clicked, not the assembly folder - but with no success. This would have been sufficient for me as i don't expect more than one file of my associated type inside a project folder.

I still don't get

[2021-05-26 20:54] MichaelSimons commented on #53
[Triage] This is a feature request that we should consider for 7.0

[2021-05-28 13:07] luronumen commented on #53
Only for .NET 7.0 @MichaelSimons? I thought that .NET 6.0 (LTS) would come with this fix. :(

[2021-05-29 11:45] billpeet commented on #53
Seriously??? So we're not likely to see this until the end of 2022.
We're literally talking about the ability to pass command line parameters to an app, pretty basic stuff. A major oversight for initial release, let alone something that's going to take 2 years to fix (.NET 5.0 to 7.0)
Any chance this could be brought forward at all?

[2021-06-10 02:25] sunchar commented on #9
Hi!

I don't know if this is the right place for asking this.

I modify my legacy .csproj files to SDK-Style on a .NET Frameworrk 4.8 projects, everything is working fine, but i cannot publish Clickonce, Visual Studio doesn´t give me any other option than publish to a folder as shown in pincture.

Please, advise how to publish clickonce as it was previous to modifying .csproj files.

Thank you!

!

[2021-06-10 17:25] NikolaMilosavljevic commented on #9
cc @John-Hart

[2021-06-10 17:33] John-Hart commented on #9
Unfortunately, we do not support .NET Framework SDK style projects with ClickOnce in Visual Studio.  I recommend using Mage (see https://docs.microsoft.com/en-us/dotnet/framework/tools/mage-exe-manifest-generation-and-editing-tool)

[2021-06-10 20:24] sunchar commented on #9
Bad news.

Thanks!

[2021-06-12 21:58] amselem commented on #9
I was also hoping to have Clickonce support in .Net Framework SDK style projects.  Is this planned for the future release of .Net 6 ?

[2021-06-17 13:51] GF-Huang commented on #108
Where is the NetCoreCheck docs?

[2021-06-18 01:07] MSLukeWest commented on #108
@GF-Huang It's a simple enough tool that the help output pretty much covers it.  The sole purpose of NETCoreCheck is to check if the specified runtime requirement is met on the machine.  Here's the help output:

[code]

[2021-06-22 06:21] coder925 commented on #101
@NikolaMilosavljevic , did you find the bug? If so, when do you believe a fix can be released?

[2021-06-22 18:56] NikolaMilosavljevic commented on #101
@coder925 it seems that old .NET FX tool 'Mage' generates the exact same ClickOnce manifest. I expect the issue to exist there as well. Is this a regression from .NET FX?

[2021-06-23 07:19] coder925 commented on #101
@NikolaMilosavljevic , I have only tested with `dotnet mage` on .NET 5.0. I don't know about the other versions.

[2021-06-23 16:59] NikolaMilosavljevic commented on #101
It seems that this issue has always existed in Mage tool, even in old .NET FX.

It is blocking simultaneous usage of `-i` and `-mv`, so it essentially allows specifying minimum version for online apps only, which seems incorrect. I think the tool should only block combination of `-i false` and `-mv`. I need to investigate this further.

Interestingly, this issue does not exist if app is published

[2021-06-23 21:33] NikolaMilosavljevic commented on #101
In PR: https://github.com/dotnet/deployment-tools/pull/119

[2021-06-23 23:16] #101 closed

[2021-07-02 16:52] #105 closed

[2021-07-08 22:23] DanLBarr commented on #53
We need the ApplicationDeployment.IsNetworkDeployed and ApplicationDeployment.CurrentDeployment.ActivationUri APIs or something equivalent to complete our port to .NET 6. We currently provide our customers a way to license their ClickOnce application (using our library) locked to their URI using these APIs with the .NET Framework.

[2021-07-09 21:03] Mehran-S commented on #53
We really need the ApplicationDeployment.IsNetworkDeployed and ApplicationDeployment.CurrentDeployment.ActivationUri APIs for .Net 6.

[2021-07-12 13:31] NC-GNVFL commented on #53
We also need this before we can move forward with .NET6.  ApplicationDeployment.IsNetworkDeployed and ApplicationDeployment.CurrentDeployment.ActivationUri APIs are required for us.

[2021-07-12 15:38] nzain commented on #113
If #53 provides any workaround, that would be better than nothing (current state). The previous API was not intuitive, but at least documented. Once you get it working, you never touch it again.

However, #53 was first triaged for net7.0 (not the target seems to be 6.0). This issue, however, is not rated at all.

I cannot work around it and customers are angry... thus:

I would prefer a quick and

[2021-07-13 02:37] #104 closed

[2021-07-13 10:04] TheCollegedude opened #124 "dotnet-mage shows: Internal error ... 'Microsoft.Win32.Registry' threw an exception."
When I run `dotnet-mage -update Application.application` it shows:

Version 5.0.301 on Ubuntu 20.4 (x86_64)

[2021-07-13 10:24] TheCollegedude commented on #124
The problem comes from calling Utilities.Misc.GetRegisteredOrganization, it does not work on Linux.
This could just return an empty string when the OS is not Windows.
A workaround is to append -Publish "X" as command line argument

[2021-07-13 11:21] TheCollegedude opened #125 "Signing in Linux"
When I try to sign with `dotnet-mage   -Sign Application.application -CertFile /root/file.pfx -Publisher "publisher"` in Linux it says

`Internal error, please try again. Unable to load shared library 'Kernel32.dll' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBUG environment variable: libKernel32.dll: cannot open shared object file: No such fil

[2021-07-22 18:11] #116 closed

[2021-07-22 23:44] NikolaosWakem commented on #53
We need ApplicationDeployment.CurrentDeployment.ActivationUri today for a new 5.0 app

There must be some kind of workaround?
Maybe a call to the OS?
Some magic reflections hack?
A hint in the right direction would be helpful please and maybe I can figure something out?

[2021-07-23 04:42] billpeet commented on #53
@NikolaosWakem my workaround was to browse the AppData folder to find the installed offline .exe file, then launch the exe file directly with arguments (instead of launching the ClickOnce app with URL arguments).

Something like this:

[code]

One limitation of this is that it bypasses ClickOnce functions like automatic updates, since it just launches the app directly.
To get around that I've used

[2021-07-28 20:52] NikolaMilosavljevic commented on #125
[Triage] @TheCollegedude can you share some details about your end to end scenarios? ClickOnce application can only be installed on Windows as Linux does not have ClickOnce runtime components.

dotnet-mage is platform agnostic, but it was built from an old Windows-only tool Mage, to run on .NET 5. Some code, like signing, requires tooling that only exist on Windows.

[2021-07-28 20:55] NikolaMilosavljevic commented on #124
[Triage] @TheCollegedude can you share some details about your end to end scenarios? ClickOnce application can only be installed on Windows as Linux does not have ClickOnce runtime components.

dotnet-mage is platform agnostic, but it was built from an old Windows-only tool Mage, to run on .NET 5. Some code might not work correctly on non-Windows platforms.

[2021-08-12 14:45] IGx89 commented on #124
@NikolaMilosavljevic Just ran into this error myself and I can add a scenario: we're calling this in GitHub Actions where Linux build agents are half the cost of Windows ones, so we try to run as many workflows on Linux agents as possible.

If this does only support Windows, it would be good to call it out in the readme -- usually the assumption is that .NET Core apps are cross-platform unless oth

[2021-08-13 03:24] IGx89 opened #131 "Ability to set product name without changing assembly name"
Hello! I was trying to use `dotnet-mage` to update the product name (assembly.description.name) of my application in the deployment manifest, but ran into a blocker: updating the product name also changes assemblyIdentity.name to the product name.   They need to be different (product name is what's on the Start Menu, etc., while assembly name is a non-user-friendly assembly name), but `dotnet-mage

[2021-08-13 16:06] IGx89 opened #132 "Application manifest codebase incorrect when Linux path separator used"
### Description

Take these two almost identical commands:
[code]

They both work, but produce different codebase values in the deployment manifest:
[code]

The first one is absolute, breaking the download in every situation except if the deployment manifest is in the root folder of the web site. The second one is relative, functioning correctly. The tool should ideally be smart enough to make the

[2021-08-15 08:44] jonrmorgan99 commented on #27
**@derskythe**

Thanks for posting this workaround for the missing ApplicationDeployment methods in Net5. You mention that the workaround features Silent Updates. However on my setup OpenURL(setuppath) in your Update code boots my browser and offers to download the application manifest manually. Any idea how I can get the app to update silently ?

Thanks.

[2021-08-16 05:02] nzain commented on #113
@NikolaMilosavljevic what are your thoughts on this? Do you think it can be fixed together with one of the other tickets? Is there any workaround that keeps the auto-update-on-startup functionality (this is the only reason why we use ClickOnce)? And how could the timeline look like? Net6 is around the corner and this is broken for quite a while now.

[2021-08-17 14:25] NikolaosWakem commented on #113
Does anyone know why the developers of .NET5 and .NET6 are still refusing to put ActivationUri somewhere or even explain any other way to access it?

We all have to ship a 4.7.2 ClickOnceeapp with a packaged .NET 5 app just to do

var uri = ApplicationDeployment.CurrentDeployment.ActivationUri
process.start("theNet5App.exe", "--uri" +uri )

Which is so silly.

[2021-08-19 23:36] lbussell opened #134 "Upgrade repo dependencies to .NET 6.0 and create a DARC subscription"
Microsoft.Deployment.DotNet.Releases needs to be included in source-build for 6.0. This repo still depends on dotnet version 5.0.0-beta.21064.2 (see eng/Version.Details.xml), but needs to be upgraded to 6.0 so that we can use our source-build intermediate packages to build dotnet_releases from this repo.

A darc subscription should also be set up so this repo can be automatically kept up to date.

[2021-08-23 18:43] NikolaMilosavljevic commented on #124
Agreed - we should document this.

[2021-08-23 18:51] NikolaMilosavljevic commented on #124
A fix might be possible, for this particular scenario.

Some other known issues are signing, which is not supported on Linux, and wouldn't be easy to enable.

[2021-08-24 18:31] sloutsky commented on #53
[MS Kusto team]
Our team develops Kusto.Explorer application (using ClickOnce) and relies heavily on ClickOnce ability to provide information about deployment URI and Query (arguments) for the following scenarios:
- Deep-linking to a specific Kusto cluster + running a query
- Understanding application feature set based on Deployment URI

Not having these two scenarios are currently blocking our ab

[2021-08-30 16:04] NikolaMilosavljevic commented on #124
I've updated readme to clarify that dotnet-mage is fully supported on Windows. We are gathering feedback about scenarios for usage of the tool on Linux agents.

This and similar issues are very valuable for planning future work.

[2021-08-30 16:04] NikolaMilosavljevic commented on #132
I've updated readme to clarify that dotnet-mage is fully supported on Windows. We are gathering feedback about scenarios for usage of the tool on Linux agents.

This and similar issues are very valuable for planning future work.

[2021-08-30 16:05] NikolaMilosavljevic commented on #125
I've updated readme to clarify that dotnet-mage is fully supported on Windows. We are gathering feedback about scenarios for usage of the tool on Linux agents.

This and similar issues are very valuable for planning future work.

[2021-08-30 16:10] NikolaMilosavljevic commented on #131
[Triage] @IGx89 are you aware if this issue reproes with old .NET FX tool Mage, or is it unique to dotnet-mage?

@NikolaMilosavljevic please investigate.

[2021-08-30 17:56] IGx89 commented on #131
Thanks for investigating! Just checked, it reproes with the old .NET FX tool as well.

[2021-09-01 01:25] e-master commented on #53
I didn't realize support for this feature has been pushed to .net 7 - i was actually waiting for .net 6 to finally be able to upgrade our app from net452. This is really a showstopper.

However, i think this issue is relatively easy to solve. I've submitted a PR (#135) that addresses my immediate problem (passing through command line arguments - the `AppDomain.CurrentDomain.SetupInformation.Activa

[2021-09-03 08:35] Mirage006 commented on #53
How is this issue progressing? It's still tagged with milestone 6; will this still be added to the NET 6 release of this year. From the comments I gather support has been pushed, but at the same time seems fairly trivial to include, see @e-master ?

Like many others here, it is pivotal in our decisionmaking regarding the move from full framework.

[2021-09-14 19:30] ericstj opened #138 "Wrong host location is found for x64 on ARM64"
### Description

It seems this code is not aware of x64 host location on an arm64 machine.

https://github.com/dotnet/deployment-tools/blob/3c246e582164af60a222930a2073ba2e1fa6b807/src/clickonce/launcher/HostFinder.cs#L40-L43

https://github.com/dotnet/deployment-tools/blob/3c246e582164af60a222930a2073ba2e1fa6b807/src/clickonce/launcher/HostFinder.cs#L72-L77

Per https://github.com/dotnet/designs/

[2021-09-15 15:53] ckorlinchak commented on #74
Do you have any update on when this issue will be resolved?

[2021-09-17 17:51] lbussell opened #141 "Clean up dependencies from runtime"
In [`eng/Version.Details.xml`](https://github.com/dotnet/deployment-tools/blob/main/eng/Version.Details.xml), This repo has a lot of dependencies that are only shared with [dotnet/runtime](https://github.com/dotnet/runtime). Since the arcade infrastructure from this repo was originally copied from runtime, it is unlikely that all of these dependencies are actually used. We should determine which d

[2021-09-22 20:42] lbussell opened #142 "Internal CI is broken"
It looks like this repo is failing to publish internal packages with the following error:

[code]

https://dnceng.visualstudio.com/internal/_build?definitionId=877
(internal Microsoft link)

[2021-09-22 20:43] lbussell commented on #142
The first time this failure is recorded happened after this pull request: https://github.com/dotnet/deployment-tools/pull/133

[2021-09-22 21:07] joeloff commented on #142
I'll revert this back to unstable until we can figure this out. I'll ping eng folks as well to see if there are other options to explore.

[2021-09-23 21:23] lbussell commented on #142
It looks like CI is now failing on a different issue, possibly related to an expired certificate:
https://dnceng.visualstudio.com/internal/_build/results?buildId=1381379&view=logs&j=13abda86-2028-5de5-3254-ca63f887785e&t=9fe76824-2ec2-549a-7a79-2ac093d21186 (internal link)

[2021-09-28 15:34] MichaelSimons opened #145 "Microsoft.SourceBuild.Intermediate.deployment-tools does not get published during CI builds"
The `Microsoft.SourceBuild.Intermediate.deployment-tools` package is not getting published during internal CI builds.  This is required for source-build so that down stream repos such as the SDK can take a dependency on it.  Currently when I run `darc get-asset --name Microsoft.SourceBuild.Intermediate.deployment-tools` I get no results found.

[2021-09-28 15:35] MichaelSimons commented on #145
cc @lbussell, @NikolaMilosavljevic

[2021-10-05 21:11] statler opened #147 "Deployment with clickonce generates a large number of unnecessary files in the deployment root which should have been cleaned up."
Clickonce installer produces a mountain of files - most duplicate - when compared to previous Framework version of same application. An application that was previously around 180Mb total size is now 500mb. It appears that the majority of files are left behind from the deployment build process. These are in the deployment root and include the pdb files. It is the same file list as if a folder deplo

[2021-10-20 10:49] EgoPingvina opened #148 "dotnet publish output option copy old packages to the publish folder"
### Description

https://stackoverflow.com/questions/45242353/dotnet-publish-outputs-old-packages
Why is this problem still relevant and why is this happening at all?!
Why when I use the `--output` option of `dotnet publish` it copies old dll's versions to the publish folder and where does it get them from?!
It is really sounds like some shit, we lost four days on this problem, but it turns out th

[2021-10-20 13:40] alansingfield opened #149 "Launcher.exe can't upgrade a NET 4.8 to 5.0 exe if processor is x86"
### Description
The Launcher.exe created by -AddLauncher will not work with -Processor x86

My existing .NET 4.8 ClickOnce project is marked as Processor x86, and I am now migrating to .NET Core.

I need to keep Processor x86 set on the ClickOnce manifest because otherwise, all the existing client installs will not upgrade, it would have to be a new installation.

But - because the Launcher.exe is

[2021-10-20 20:15] NikolaMilosavljevic commented on #148
This seems like an SDK issue - moving to dotnet/sdk.

[2021-11-01 03:02] desjarlais commented on #74
I'm not sure what the current plan or status is for this, but I'm currently using a workaround of comparing the target of the shortcut with the current executing assembly path of my app.

The location of the pinned app is:
C:\Users\<username>\AppData\Roaming\Microsoft\Internet Explorer\Quick Launch\User Pinned\TaskBar\<appname.lnk

The target of that particular shortcut .lnk file is something like

[2021-11-03 22:29] #112 closed

[2021-11-05 21:39] Mrxx99 commented on #27
This is on the 6.0 milestone, so will this be fixed until next week?

[2021-11-15 09:15] DDD25583 commented on #79
I just tried to migrate a net4.8 app to .NET 6 when I came across this issue.
Being able to get the CurrentVersion is crucial in are error and bug-processing procedures.
As the production environment contains a lot of computers, updating (close and restart) an app is done once in the 24 hours.
So it is important that we know on which version of the app, an error is thrown.

[2021-11-15 09:29] DDD25583 commented on #27
I just tried to migrate a net4.8 app to .NET 6 when I came across this issue.
Being able to get the CurrentVersion is crucial in are error and bug-processing procedures.
As the production environment contains a lot of computers, updating (close and restart) an app is done once in the 24 hours.
So it is important that we know on which version of the app, an error is thrown.

[2021-11-15 11:18] simmotech commented on #149
@alansingfield:
Since there are no clues as to what Microsoft plans to fix for the missing bits of ClickOnce (and when), I'm trying a custom Launcher.exe passing environment variables as described in your #113 but also with the other ApplicationDeployment bits too.

Can you give me a clue how to 'poke' in the custom Launcher.exe?
I am new to .Net 6 and just use the Build/Publish option in the GUI

[2021-11-15 17:36] simmotech commented on #149
Looks like I was looking for a complicated solution to a simple problem - just copying my custom Launcher.exe over the one in C:\Program Files (x86)\Microsoft SDKs\ClickOnce Bootstrapper\Engine did the trick.

Took me a while to work out it had worked though since I pinned my test app to the Taskbar and it would seem that doesn't use Launcher.exe!! Running from the Desktop icon however, it did wor

[2021-11-16 12:28] simmotech opened #161 "Publish Wizard minor issue"
If you click on the groups on the left (PublishLocation, Install Location, Settings, Sign manifests, Configuration) then they are selected but the page doesn't update on the right.
If groups can be selected in any order then the click (or double-click) on the group should select it and its page.
If groups cannot be selected in any order then the clicks/highlighting should be ignored.

[2021-11-17 04:51] simmotech opened #162 "Publish Wizard Install Location issue"
If you use Browse to choose a local path, e.g. F:\Scratch\ClickOnceSourceTest\ then it doesn't get converted for the UNC path textbox.

Also is "file:\\\\f\Scratch\ClickOnceSourceTest\" a correct conversion for the above path?
It allows me to install the clickonce app no problem but I am seeing no updates either with Update Location set blank or set to "file:\\\\f\Scratch\ClickOnceSourceTest\".

[2021-11-17 05:13] simmotech opened #163 "Publish Wizard Inconsistent Line Endings"
Every time I run the Publish Wizard, VS shows the above message.for ClickOnceProfile.pubxml.user (twice actually)

[2021-11-17 11:03] simmotech commented on #74
Not sure if you guys already knew this but there seems to be a difference in how the pinning is done.
If you right-click the desktop icon and pin it that way, it runs and updates fine.
If you run the application first then right-click to pin it from the taskbar then it always runs directly and bypasses update checking.

You can check the Properties/Details to compare - the former is a .appref-ms a

[2021-11-17 11:48] simmotech opened #164 "Update Available Form"
A couple of old chestnuts but I thought I'd bring them up again since I feel sure that all the outstanding .NET 6 ClickOnce issues are being hard-worked upon and a glorious update release is imminent. :-)

The Update Available form looks like this:
<img width="441" alt="Snag_1e499f10" src="https://user-images.githubusercontent.com/876369/142189178-968ac19e-2367-477c-9ef6-72e805981a6e.png">

Proble

[2021-11-17 18:59] simmotech commented on #27
Based on ideas/code from @derskythe, @alansingfield, @e-master, I created a repro at https://github.com/simmotech/Net6ClickOnce which passes through all the info from args/ApplicationDeployment/ActivationArguments to the .NET 6 ClickOnce app. It also allows in-app detection of any later version and updating to that version on close.

Might be worth a look to use until an official fix is made. Grat

[2021-11-17 22:21] NikolaMilosavljevic commented on #163
This is a feature of Visual Studio - best option to submit feedback is directly from VS: `Help` -> `Send Feedback` -> `Report a Problem` (or `Suggest a Feature`)

[2021-11-17 22:21] #163 closed

[2021-11-17 22:21] NikolaMilosavljevic commented on #162
This is a feature of Visual Studio - best option to submit feedback is directly from VS: `Help` -> `Send Feedback` -> `Report a Problem` (or `Suggest a Feature`)

[2021-11-17 22:21] #162 closed

[2021-11-17 22:22] NikolaMilosavljevic commented on #161
This is a feature of Visual Studio - best option to submit feedback is directly from VS: `Help` -> `Send Feedback` -> `Report a Problem` (or `Suggest a Feature`)

[2021-11-17 22:22] #161 closed

[2021-11-19 11:06] alansingfield commented on #149
Hello Simmotech,

The -AddLauncher parameter is only available on the newer version of MAGE (use dotnet mage rather than mage.exe).

[code]

But, as you've seen, it's not that useful - all it does is create a file called Launcher.exe in the target directory, which you can do yourself just as well.

I've uploaded the script that I use to create the ClickOnce files in my CI process, I'm sure there's

[2021-12-08 13:54] GH-Resforma opened #170 "dotnet-mage 6.0 requires 5.0"
When using dotnet-mage in a Docker image from **mcr.microsoft.com/dotnet/sdk:6.0-windowsservercore-ltsc2019**. The command faults with:**The framework 'Microsoft.NETCore.App', version '5.0.0' (x64) was not found.**

### Description

**C:\approot>dotnet tool install --global microsoft.dotnet.mage**
*You can invoke the tool using the following command: dotnet-mage*
*Tool 'microsoft.dotnet.mage' (ver

[2021-12-08 21:42] NikolaMilosavljevic commented on #170
[Triage] @NikolaMilosavljevic please fix and establish a proper model for future releases.

[2021-12-08 21:44] NikolaMilosavljevic commented on #170
[Triage] Please work with @rbhanda to establish publishing pipeline and incorporate versioning in the process.

[2021-12-13 19:04] NikolaMilosavljevic commented on #170
Reopening - will close once new package gets released to nuget.org.

[2021-12-15 15:34] NikolaMilosavljevic commented on #164
This UI is displayed by ClickOnce runtime that is part of .NET FX. ClickOnce apps utilize .NET FX on user's machine for installing, launching and updating.

The following page describes ways to submit feedback and open issues with these products: https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019

[2021-12-15 15:34] #164 closed

[2021-12-15 17:33] NikolaMilosavljevic commented on #170
New version of Microsoft.DotNet.Mage, 6.0.1, has been released to nuget.org. It fixes this issue.

https://www.nuget.org/packages/Microsoft.DotNet.Mage/6.0.1

Installation command is the same:

`dotnet tool install --global microsoft.dotnet.mage`

[2021-12-15 17:33] #170 closed

[2021-12-17 08:59] simmotech opened #178 "Automatic user-settings upgrade"
If I understand correctly, configuration files for user settings used to be automatically migrated when a ClickOnce app was updated.
This seems to be no longer the case for .NET 6.

Solutions on the web talk about using MyApp.Properties.Settings.Default.Upgrade() but this didn't work for me and looking at code in LocalFileSettingsProvider showed why: it was designed only to support a directory str

[2022-01-05 10:44] sinsedrix opened #179 "netcorecheck.exe is missing api-ms-win-crt-stdio-l1-1-0.dll"
### Description

![image](https://user-images.githubusercontent.com/596459/148200020-b9fd0ebb-3144-4a26-b3e6-2219d2fa0571.png)

### Configuration

On windows 7, I need netcorecheck.exe in an InnoSetup installer to check if an installation of dotnet runtimes is needed.
When I run it, I get an error telling that a dependency is missing: api-ms-win-crt-stdio-l1-1-0.dll

[2022-01-05 21:38] NikolaMilosavljevic commented on #179
[Triage] PTAL

[2022-01-13 00:19] MSLukeWest commented on #179
@sinsedrix Can you confirm you're asking about Win7 SP1 here?

This seems fixable, if we statically linked some of the MS VC redist binaries.  Using dumpbin /imports it looks like there's 8 from the vc redist that we use:

api-ms-win-crt-stdio-l1-1-0.dll
api-ms-win-crt-time-l1-1-0.dll
api-ms-win-crt-string-l1-1-0.dll
api-ms-win-crt-convert-l1-1-0.dll
api-ms-win-crt-runtime-l1-1-0.dll
api-ms-win-cr

[2022-01-20 07:56] EPilyaev commented on #149
Hello! Thank you very much for the info provided here.
I faced the same situation as you but with update from .Net 4.7.2 amd64 ClickOnce to .Net 6.

Tried the approach from your first comment as a POC on a simple console net6 x64 app with a custom Launcher and dotnet mage 6, and that worked!

Will check auto update for my case now using this approach. Hope, it will work too.

P.S. It would be real

[2022-01-21 17:46] e-master commented on #74
Indeed, i got the same issue. The crux of the problem is that in .NET (core) the application is separate from the launcher (Launcher.exe).

To work around this problem i plan to add the following logic into my application:
 - at every startup/shutdown check if the user has a *.lnk file in the _%appdata%\Microsoft\Internet Explorer\Quick Launch\User Pinned\TaskBar_ folder
 - if they do, it means th

[2022-01-21 19:30] NikolaMilosavljevic commented on #74
.appref-ms is the proper link and should be pinned. Pinning a running application would pin a link to app exe - subsequent runs would not go through ClickOnce.

[2022-01-21 22:00] e-master commented on #74
Fully agree. Except as of now it is impossible for users to pin `.appref-ms` when they right-click on a running .NET 5/6 ClickOnce app in the task bar and select `Pin to taskbar`. That's why i suggested to do an ugly workaround above.

[2022-01-21 22:07] NikolaMilosavljevic commented on #74
Does this work fine for .NET FX apps? Have you tried to enable shortcut creation for ClickOnce deployment?

[2022-01-21 22:18] e-master commented on #74
yes, i have the exact same app (multi-targeted to .net 4.5.2 and .net 5) and the .net 4.5.2 deployment can be pinned properly, but the .net 5 one cannot (well, links the local .exe instead).

I'm not sure exactly what you mean. I can see that both .net 4.5.2 and .net 5 create a shortcut in the Start menu, but i don't see anything shortcut related in my `ClickOnceProfile.pubxml` file, so i assume s

[2022-01-21 22:27] e-master commented on #74
i assume you talked about the `CreateDesktopShortcut` flag. No, i don't use that in my .pubxml file. Do you think that would fix this issue? I can give it a try.

[2022-01-21 23:08] billybednar commented on #74
I'd be quite surprised if that worked. Pinning something to the taskbar is intentionally difficult to prevent abuse.

When you pin a .NET Framework ClickOnce application to the taskbar, the apprefms is pinned rather than the executable because ClickOnce somehow sets the same explicit AppUserModelID on the process that it starts (the .NET Framework in the target is probably cooperating). With .NET

[2022-01-22 03:01] lovettchris opened #180 "Environment variable support in a .pubxml file"
### Description

I need to hide the install location in my open source project, so I want to write this in my `ClickOnceProfile.pubxml` file:

[code]

but when I try this the profile editor comes up showing the correct thing, but every time I click "Publish" it rewrites this string with the actual variable, which I have to keep undoing in the git change.

### Configuration

C# WPF project in VS 20

[2022-01-22 03:09] lovettchris commented on #180
Never mind, it works now :-)

[2022-01-22 04:26] e-master commented on #74
You're right, simply moving the files around doesn't work, as designed by the system itself to prevent abuse.

I still found a workaround though. Currently the system creates a `.lnk` file when the user pins the clickonce application to the taskbar. Although i cannot (easily) programmatically pin/unpin the `.appref-ms` file, i can change the target of the `.lnk` file to point to the `.appref-ms` f

[2022-01-22 04:37] e-master commented on #74
@billybednar

Thanks for the suggestions. I will have to create a custom launcher anyways because of this bug https://github.com/dotnet/deployment-tools/issues/53, so i might as well try your suggestion.

[2022-01-24 16:54] NikolaMilosavljevic commented on #74
Thanks @billybednar and @e-master - I did plan to experiment with `GetCurrentProcessExplicitAppUserModelID` and it seems that the model is working, that's great! No hard dates on timeline for updates in official Launcher, but it is certainly coming soon.

[2022-01-25 14:49] jonrmorgan99 commented on #27
Great to see ClickOnce in Net6, but still no progress on restoring the in-app updating functions in Application.Deployment.

Is there any update on this issue ? Net 7 maybe ??

[2022-01-25 14:56] jonrmorgan99 commented on #79
A year on and still no sign of the ClickOnce ApplicationDeployment API returning.

Please could we have a progress update ? Will it be restored in Net7 ?

The long silence on this topic makes it difficult to plan migration from NetFx 4.8.
If CO is not going to be supported then better to know now so we can switch to an alternative installer.

[2022-01-26 21:37] NikolaMilosavljevic commented on #180
This is a feature of Visual Studio - best option to submit feedback is directly from VS: `Help` -> `Send Feedback` -> `Report a Problem` (or `Suggest a Feature`)

[2022-01-26 21:37] #180 closed

[2022-01-27 15:33] Lumoryel commented on #53
So, it's 2022 and I guess there is still no solution for using ApplicationDeployment in .NET 6?

[2022-02-01 10:22] TheCollegedude commented on #125
I have an embedded system that runs on Linux and it updates its firmware bundled together with the client software to access the system. The system acts as a server so that the user can run, download, install or update the client software. Unfortunately, ClickOnce refuses to work if the source has changed. When building the ClickOnce package, I have to specify a location and may not change it late

[2022-02-02 09:20] EPilyaev commented on #149
Upd. Managed to configure auto update for amd64 processor architecture from net472 to net6 pretty much the same way you have done it for x86 for net5.
Confirming that this approach works for net6 update too.
Thanks again for the info.

[2022-02-23 15:41] raffaeler commented on #27
@NikolaMilosavljevic Do you have any news for this?
We are still stuck since https://github.com/dotnet/deployment-tools/issues/9#issuecomment-726207037
This really prevents the migration of a large number of applications.

[2022-02-23 17:43] NikolaMilosavljevic commented on #27
We are definitely tracking improvements in ClickOnce experience for .NET (Core) apps, for upcoming release. You can expect to see some designs published in the next several weeks. Improvements might be brought up in stages, to allow for a better design and experience, as well as more testing with early previews.

[2022-02-23 17:52] raffaeler commented on #27
@NikolaMilosavljevic Thanks for the prompt answer.

I noticed that the new publishing wizard creates far more files than in the past. The applications file are copied in both the publish folder and the sub-folder that is versioned.
Why does this differ from the past? I expected to see basically the same set of files, even because we host these files in a web application were there are both old and

[2022-02-23 20:40] John-Hart commented on #27
The new ClickOnce for .NET publish wizard is essentially built on top of the standard .NET Folder Publish, after it runs and copies the files to the output folder, ClickOnce publish creates the manifest, setup.exe, launcher.exe and publish.html and then it copies the application files into the Application Files folder.  So that does mean there is an extra copy of the application files left in the

[2022-02-24 12:12] jonrmorgan99 commented on #27
Thanks for the explanation John.

It is really tedious to have to weed out the extra copy of the application files each time you do a Net6 CO build.

Is there any possibility of getting ClickOnce in Net6 to delete these unneeded files ?

As has been pointed out the Netfx CO build format was nice and clean – just the Application files folder, manifest, setup and publish.

From: John Hart ***@***.**

[2022-02-25 23:08] John-Hart commented on #27
@jonrmorgan99  we do have a feature suggestion to remove the extra files, feel free to vote on https://developercommunity.visualstudio.com/t/Clickonce-for-NET-Core-issues/1500772 if you would like to see that feature.

In the meantime you might be able to try using the powershell [remove-item](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/remove-item?view=power

[2022-03-23 01:15] IGx89 commented on #124
FYI, I haven't confirmed myself, but #171 appears to have fixed this issue in v6.0.1 (by way of #176).

[2022-03-31 00:22] MSLukeWest opened #195 "Assemblies in Vs.Redist.Common.NETCoreCheck packages do not have their symbols published anymore"
### Description

Assemblies in Vs.Redist.Common.NETCoreCheck packages (All three architectures: x86|x64|arm64) do not have their symbols published anymore.

### Regression?

Yes, this regressed at some point between 5.0.0-rtm.20555.5 and 6.0.0-alpha.1.21071.2.

[2022-04-06 11:03] berets76 commented on #27
Is it so difficult to give a definitive answer about System.Deployment in NET >= 6 ?
Please, simply tell us if we will get back IsNetworkDeployed and other properties and functions or not.

We don't need exotic solutions or dangerous shell-based workarounds, please just say yes or no, so we can evaluate alternatives with our customers.

Thanks

[2022-04-06 17:48] NikolaMilosavljevic commented on #27
We plan to add support for IsNetworkDeployed and other properties that were previously exposed with https://docs.microsoft.com/en-us/dotnet/api/system.deployment.application.applicationdeployment?view=netframework-4.8

Properties will be available to .NET app as process environment variables. A simple class could be implemented, by the app developer, to abstract those variables and make their usag

[2022-04-06 20:57] NikolaMilosavljevic commented on #195
[Triage] @NikolaMilosavljevic please investigate.

[2022-04-06 21:10] NikolaMilosavljevic commented on #142
This does not repro anymore.

[2022-04-06 21:10] #142 closed

[2022-04-07 18:45] SartorialOffense commented on #74
Hi all.  Is the expectation that this is a .NET 7.0 fix or before then?

[2022-04-08 13:26] jonrmorgan99 commented on #27
@NikolaMilosavljevic Thanks for the update.

What's needed for users hoping to port NetFx ClickOnce apps to Net6/7 is a complete rebuild of the ApplicationDeployment class for Net6/7, not just a few properties.

We need to be able to replicate the code example in

[ https://docs.microsoft.com/en-us/dotnet/api/system.deployment.application.applicationdeployment?view=netframework-4.8](url)

which is

[2022-04-08 16:54] NikolaMilosavljevic commented on #27
@jonrmorgan99, in-app update is not something that can simply be enabled, for ClickOnce-deployed .NET apps. There is no ClickOnce runtime in .NET (Core), with which the app can interact and initiate in-app update.

Launcher (built as .NET FX app) was added as a necessary entry point that 'hooks-up' to ClickOnce runtime. That model provides automatic updates, update check before launch, and, with u

[2022-04-20 06:34] UFuz commented on #27
I just tried your code. So I assume, I need to copy "launcher.exe" over the one generated by VST? Doing this, when installing from the deploy location, I run into "Reference in the manifest does not match the identity of the downloaded assembly Launcher.exe." error. I am using the built in signing process. Can you or someone reading this, provide me steps how to re-sign this in an automated way? U

[2022-04-20 10:37] alansingfield commented on #27
@UFuz - you've probably copied the Launcher.exe AFTER the manifest files have been generated.
The manifest contains a SHA256 hash of the executable, so if you amend the Launcher.exe the hash won't match.

There is also some other weirdness in that the behaviour of "dotnet mage -New Application" changes significantly depending on if there is a file called Launcher.exe alongside your main exe or not

[2022-04-21 06:25] fuglede opened #198 ".NET 5 ClickOnce creates duplicate deployment in PublishDir"
This is a mirror of [this SO question](https://stackoverflow.com/q/71941042/5085211); figured it might be possible to get some eyes on it here as well.

### Description

When I published a ClickOnce application prior to the advent of .NET 5, I would generally expect to see files like

[code]

When I use the .NET 5 version, all assemblies appear to be duplicated in the root of the publish directory

[2022-04-21 06:31] fuglede opened #199 "Network share ClickOnce publish creates corrupt setup.exe"
This is a mirror of [this SO question](https://stackoverflow.com/q/71940968/5085211); figured posting it here would make it possible to get some eyes on it.

### Description
I have a .NET 5 application that I'm trying to use ClickOnce to publish. If I publish it locally (to, say, `bin\publish\`), everything is good, but if I use a network file share UNC path as the PublishDir, I end up with a corr

[2022-04-27 19:23] SartorialOffense commented on #74
@billybednar, would you be willing to share your fix?

[2022-04-27 19:36] NikolaMilosavljevic commented on #199
@sujitnayak @John-Hart - is this a good place to track this issue?

[2022-04-27 19:37] NikolaMilosavljevic commented on #198
@sujitnayak @John-Hart - is this a known issue in VS ClickOnce publishing?

[2022-04-27 20:08] John-Hart commented on #198
Yes, we're working on a better solution for this, you can track it https://developercommunity.visualstudio.com/t/Clickonce-for-NET-Core-issues/1500772.

[2022-04-27 20:09] John-Hart commented on #199
@fuglede  can you please report this from within Visual Studio by going to the Help>Send Feedback>Report a Problem... menu?

[2022-04-28 09:26] fuglede commented on #198
If it makes a difference, this also happens outside of VS, using the msbuild command line tool.

[2022-04-28 09:57] fuglede commented on #199
@John-Hart Done! FWIW, this happens regardless of whether I use the VS wizard or the msbuild command line tool.

[2022-04-28 11:21] NormanGiHu commented on #79
Ticket closed? Any plans to solve the issue in .net 7 ? Or is there an alternative for switching off updates via the the app settings and not only via the clickonce configuration?

[2022-04-28 18:21] John-Hart commented on #199
@fuglede, thanks we see the feedback item and will contact you.

[2022-05-04 03:12] orinsdev commented on #27
Hello! Will this be available on .NET 7? Thanks!

[2022-05-06 05:15] billpeet commented on #53
@NikolaMilosavljevic is this on track for .NET 7?

[2022-05-06 16:42] NikolaMilosavljevic commented on #53
Yes, it is - in fact this feature is being tested right now, and will be available in a preview soon.

[2022-05-09 13:50] UFuz commented on #27
@alansingfield : With original .Net4.8 update mechanism, I used to run
ApplicationDeployment updateCheck = ApplicationDeployment.CurrentDeployment;
updateCheck.Update();
show a success messagebox;
Application.Restart();

with the "dfshim.dll" approach I have 3 issues:
1) it returns immediately, not waiting for the update to complete
2) application.restart will relaunch the old version, instead of

[2022-05-11 20:02] NikolaMilosavljevic commented on #199
Closing in favor of VS Feedback item.

[2022-05-11 20:02] #199 closed

[2022-05-13 20:02] HugoLemieux opened #202 "Signing with sha512 certificate and TimeStampUri cause an error during a cryptographic operation"
When I try to sign with a certificate having a signature hash algorithm sha512 with the command line:
dotnet-mage -Sign "fileName.vsto" -CertHash [CertHash of the certificate] -TimestampUri http://timestamp.entrust.net/rfc3161ts2
it is returning:
Internal error, please try again. Error occurred during a cryptographic operation.

If I do not use the -TimestampUri or if I use a certificate having a

[2022-05-18 18:24] NikolaMilosavljevic commented on #202
@HugoLemieux SHA512 is not currently supported by dotnet-mage or ClickOnce runtime. There are no plans at the moment, for adding this support.

[2022-05-19 00:44] MSLukeWest commented on #195
Confirmed fixed in 7.0.0-preview.1.22263.1

[2022-05-19 00:44] #195 closed

[2022-05-19 15:54] tom-bowles opened #203 "Publishing ClickOnce project with non-framework build of MSBuild results in error"
I have a ClickOnce project that targets net472 and has been migrated to SDK 5. It uses the Publish target with PublishProtocol=ClickOnce. It works in VS but with the dotnet CLI it gives:

`error MSB4062: The "Microsoft.Build.Tasks.GenerateTrustInfo" task could not be loaded from the assembly Microsoft.Build.Tasks.Core, Version=15.1.0.0`

The reason is that the non-framework builds of Microsoft.Bui

[2022-06-07 14:20] ExactImage commented on #53
Can't believe we just went through all the pain of updating a more than 1 million line project to .net 6 only to stumble at the final hurdle of getting the version from the runtime.  This is painful to say the least.

[2022-06-08 15:25] alansingfield commented on #203
Hello Tom,

You can create the manifest files for a .NET 5/6 clickonce project through the command line / powershell; this is how I achieved this:
https://github.com/alansingfield/ClickOncePowershell

MAGE is installed via:
`dotnet tool install microsoft.dotnet.mage`

I create the manifest files as a separate stage in my CI pipeline, rather than having them under the MSBuild Publish target.
This i

[2022-06-14 18:49] #138 closed

[2022-06-15 15:14] NikolaMilosavljevic commented on #53
PR created: https://github.com/dotnet/deployment-tools/pull/208

Feedback is welcome!

[2022-06-17 16:59] #53 closed

[2022-06-27 15:39] NikolaMilosavljevic commented on #53
Shipped with Preview 2: https://github.com/dotnet/deployment-tools/discussions/212

[2022-07-25 13:44] mthalman opened #213 "PlatformNotSupportedException when running Mage in Nano Server"
When attempting to run `dotnet mage` in a Windows Nano Server container, I get the following error:

[code]

Repro steps using a Dockerfile:

[code]

[code]

This occurs because Nano Server doesn't support single threaded apartments.

A similar issue had occurred with F# Interactive. See their solution for reference: https://github.com/dotnet/fsharp/pull/10122

[2022-08-04 14:59] saivineeth100 opened #214 "Click Once Add runtime(aspnetcore) not listed in existing perquisites"
I want to mention aspnetcore as dependency for clickonce , so that it downloads aspnetcore  before installing my app

my WPF app uses asp.net , so I need to install aspnetcore runtime before starting my app

I tried adding below xml to publish profile but didn't worked
[code]

[2022-08-10 20:41] NikolaMilosavljevic commented on #214
@John-Hart @sujitnayak can you please route this into VS ClickOnce issue and let us know so we can close this issue?

[2022-08-10 23:38] sujitnayak commented on #214
ClickOnce traditionally has not been used to publish aspnetcore apps. It only supports Forms, WPF and console app. We would need to triage this ask internally before commenting further.
Thanks.

[2022-08-11 03:24] saivineeth100 commented on #214
This is for WPF app only , I want to add extra dependency as my wpf uses asp.net core to host web

[2022-08-11 14:37] SartorialOffense commented on #74
Hi @NikolaMilosavljevic, is this fix likely to ship with .NET 7.0?

[2022-08-11 16:06] NikolaMilosavljevic commented on #74
The fix for this issue is likely localized to dotnet-mage tooling which ships on its own schedule. We do try to align with major .NET releases, i.e. 7.0 GA.

We're still tracking this issue for investigation and fix for 7.0.

[2022-08-11 18:00] SartorialOffense commented on #74
Thanks!

[2022-08-29 16:19] mmitche opened #215 "Specify all source-built dependencies and ensure they are regularly updated"
### Overview

Source-build works today by building a repository, gathering the versions of the outputs, and creating a property file with those versions. This property file is then fed to downstream repositories, which import it after their `eng/Versions.props`. The resulting behavior is that the downstream repo overrides all dependency versions specified in `eng/Versions.props` with the versions

[2022-08-29 16:19] mmitche commented on #215
This is work for .NET 8

[2022-08-30 15:55] mmitche opened #216 "Unified Build control update"
### Description

**This issue is dependent on https://github.com/dotnet/source-build/issues/2974 and is a placeholder for .NET 8 required work in product repositories.**

Instructions for implementation will be updated once https://github.com/dotnet/source-build/issues/2974 but will likely be a mechanical shift of properties in this repo. In a general sense, this is scaffolding work for expanding

[2022-09-01 18:33] mmitche opened #217 "TFM trimming, and elimination of net4* targeting in Linux source-build"
### Description

Trim away unneeded TFMs, and conditionalize away non-applicable TFMs for Linux source build.

**Requires** https://github.com/dotnet/source-build/issues/3013. source-build net4* targeting elimination required https://github.com/dotnet/source-build/issues/2974

The purpose of this operation is twofold:
- [ ] Reduce the number of TFMs present overall in .NET's build, potentially imp

[2022-09-01 18:34] mmitche commented on #217
This is .NET 8 work

[2022-09-07 20:37] NikolaMilosavljevic commented on #217
[Triage] We should front-load this early in 8.0 timeframe.

[2022-09-07 20:38] NikolaMilosavljevic commented on #216
[Triage] We should front-load this early in 8.0 timeframe.

[2022-09-07 20:39] NikolaMilosavljevic commented on #215
[Triage] We should front-load this early in 8.0 timeframe.

[2022-09-22 10:53] znakeeye commented on #74
I suppose [7.0.0-preview.2.22317.2](https://www.nuget.org/packages/Microsoft.DotNet.Mage/7.0.0-preview.2.22317.2) does not solve this issue? When can we expect a release (or preview release) that fixes this problem?

We are currently facing this problem, and we need a fix like... yesterday 😆

[2022-10-02 23:21] SartorialOffense commented on #74
@NikolaMilosavljevic Very exciting, it would be great to have it fixed this year.

For the alternative way, do you mean having my users pin the app to the Taskbar from the shortcut on the Start Menu? We try and have them do this now and it does work - we don't see the double icons. Or do you mean something else? I have seen this with Java applications and it is a little confusing.

[2022-10-03 07:21] billybednar commented on #74
See [e-master's summary above](https://github.com/dotnet/deployment-tools/issues/74#issuecomment-1020255259). Unfortunately I don't have any code handy that I can share, but it only takes a few lines to implement it. The hard part is probably getting the tooling to package up both your application and your launcher in a clean way. I've only done it the quick-and-dirty way as a proof of concept by

[2022-10-03 15:20] NikolaMilosavljevic commented on #74
Yes, that's the same workaround, which seems to work fine. I was getting a second icon, in my quick test.

[2022-10-03 15:25] NikolaMilosavljevic commented on #74
Hmm, that's interesting as it did not work in my tests, on Windows 11. Thank you for sharing the pointer, I will follow up with ClickOnce runtime team if needed.

[2022-10-03 17:11] billybednar commented on #74
That's strange. It has worked for me on Windows 7 and 10, but I've never tried 11.

[2022-10-13 11:37] heku commented on #27
except the issue discussed above, I have another question, anybody know why a .net 6 WPF application with "online" mode only, cannot update itself when a new version published？（the application is not signed, but I didn't see any doc says update detect needs sign）

[2022-10-13 19:46] NikolaMilosavljevic commented on #27
@heku was the application built using dotnet-mage or ClickOnce publishing in Visual Studio?

cc @sujitnayak @John-Hart

[2022-10-13 20:46] sujitnayak commented on #27
@NikolaMilosavljevic  The VS ClickOnce behavior in .NET 6.0 apps is consistent with .NET 4.X. Update is not enabled if app is Online only.

[2022-10-13 23:31] heku commented on #27
@sujitnayak visual studio, it is totally different as my expectation, I thought Online mode means always “latest”, if so, what the purpose of Online mode？

[2022-10-13 23:38] John-Hart commented on #27
@heku this might help: https://learn.microsoft.com/en-us/visualstudio/deployment/how-to-specify-the-clickonce-offline-or-online-install-mode?view=vs-2022

[2022-10-14 00:09] heku commented on #27
@John-Hart Thx, I saw the doc before, it only says the difference of online/offline is online needs access to publish location, never mentions any difference about update behavior

[2022-10-14 23:43] sujitnayak commented on #27
Behavior of auto-update not being available in online-only mode is not new to .NET 6.0 apps. .NET 4.X apps have had the same behavior as you can see in the screenshot attached:

![image](https://user-images.githubusercontent.com/7729842/195956378-78425d5c-7eaa-48a2-8b6e-cf0ff057042a.png)

Auto-update is for apps that are installed locally on the machine (visible in Add Remove Programs and Start me

[2022-10-15 01:56] heku commented on #27
@sujitnayak ok, the "updates" button is disabled for Online mode, I thought it means Online mode app is always up to date, that what I really misunderstand. since it has same behavior as .NET Framework, I have no question any more, thank you.

[2022-10-17 17:33] NikolaMilosavljevic commented on #74
Yeah, I just double-checked - it works fine on Windows 11, as well.

[2022-11-01 13:27] xinfli commented on #213
The root cause is nano server does not support STA, but dotnet-mage is set as `STAThread`: https://github.com/dotnet/deployment-tools/blob/main/src/clickonce/MageCLI/Application.cs

Is it possible to fix this problem? we need a container to sign a ClickOnce application, now we have to build the signer image with server core and got a image in 6GB...

[2022-11-01 18:39] NikolaMilosavljevic commented on #213
Windows Nano Server does not include .NET Framework. dotnet-mage uses parts of ClickOnce runtime, that ships with .NET Framework, for signing of ClickOnce applications. At the moment it is not possible to sign ClickOnce applications on machines without .NET Framework being present, as well.

[2022-11-03 10:15] davidroth commented on #53
@NikolaMilosavljevic Does this also work when publishing via a click once publish profile in Visual Studio?

[2022-11-03 17:36] NikolaMilosavljevic commented on #53
I believe this has first shipped with Visual Studio 17.3. There is a checkbox in ClickOnce publishing profile settings that needs to be checked for this to work. @sujitnayak , @John-Hart can you help @davidroth get this working in Visual Studio?

[2022-11-03 19:06] John-Hart commented on #53
If you're using VS 2022 version 17.3 or later, you should see the option "Allow URL parameters to be passed to application" on the Publish Options dialog.  If you check that option the property TrustUrlParameters will be set to True, in the pubxml file.

[2022-11-04 09:41] davidroth commented on #53
@NikolaMilosavljevic @John-Hart

Thanks, that did the trick!

[2022-11-09 18:08] NikolaMilosavljevic commented on #27
ClickOnce support for .NET ships separately from main .NET (i.e. .NET 7). It ships as a global tool. We will be releasing version 7.0.0 of dotnet-mage in the next few days.

This feature is available in our preview release: https://www.nuget.org/packages/Microsoft.DotNet.Mage/7.0.0-preview.2.22317.2. For all previews you'd need to specify explicit version number, to install it, following the steps

[2022-11-09 22:49] tejs-code commented on #27
@NikolaMilosavljevic Is there an alternate to UpdateAsync,  a way to install the update in the backgroun? I understand the app has to be restarted anyway, but it provides a way to download and process update in the background without paying a cost on open and showing a dialog to the user whether to install the update or not.

[2022-11-10 08:20] SwedishBobby commented on #74
Will this be fixed and released along with dotnet mage 7.0?

[2022-11-10 13:58] TimKras commented on #27
@NikolaMilosavljevic
How should this feature used in an application.
Do we need to read the `Environment.GetEnvironmentVariable("ClickOnce_IsNetworkDeployed")` manually, or will there be a wrapper? Or should we use this class in our application: https://github.com/dotnet/deployment-tools/blob/dfb0a98c68da39fc9cd1d82e200a19badf4e7112/Documentation/dotnet-mage/ApplicationDeployment.cs

[2022-11-10 16:23] NikolaMilosavljevic commented on #27
Yes, at the moment, those would be the only 2 solutions. You could use that sample wrapper class or create a new own. Reading environment variables would also work, if you only need to use a few.

[2022-11-10 16:28] NikolaMilosavljevic commented on #27
There is no alternative today, for silent update, which was provided by UpdateAsync in the past (for .NET FX apps). That experience requires running update in the app context, which isn't possible today as System.Deployment library is not available in .NET.

We understand that this is an important scenario for some applications and will be looking into ways to close this gap in experience.

[2022-11-14 20:18] luronumen commented on #27
Hi @NikolaMilosavljevic

I noticed that the [ApplicationDeployment.cs](https://github.com/dotnet/deployment-tools/blob/dfb0a98c68da39fc9cd1d82e200a19badf4e7112/Documentation/dotnet-mage/ApplicationDeployment.cs) class still missing the 2 methods that are available on ClickOnce for .NET 4.8 Framework:
- CheckForDetailedUpdate()
- Update()

Is there any plan to implement them or any alternative meth

[2022-11-14 20:21] NikolaMilosavljevic commented on #27
That is correct. The sample class adds support for obtaining properties and does not have any methods related to updating the app. We understand that this is an important scenario for some applications and will be looking into ways to close this gap in experience.

[2022-11-14 20:25] luronumen commented on #27
Thank you very much for your prompt reply @NikolaMilosavljevic !
Are these gaps planned to be resolved in .NET 7.0 or will they only be available in .NET 8.0?

Thanks again!

[2022-11-14 21:22] NikolaMilosavljevic commented on #27
Those features are not planned for 7.0, which GA'd last week. dotnet-mage, which will GA in a day or two, always support building deployments for older .NET versions, unless that is not feasible. For instance, new features that we add in dotnet-mage version 8 would support .NET 8.0, and all previous .NET releases.

[2022-11-18 14:19] Nils-Berghs commented on #53
@NikolaMilosavljevic @John-Hart ,  I have the option in VS 2022 to "Allow URL parameters to be passed" on a .Net 6 application but it doesn't work there:

I presume these are two seperate errors:
- It does not work on .net 6
- The UI shows an option that will not work

But even besides that, clickonce is not a viable option for application development as pinning an app to the taskbar disables the

[2022-11-18 14:36] davidroth commented on #53
@Nils-Berghs I tested it on .net 6 and it works as expected. I guess you'd have to clarify what exactly is not working on your side and how you tested it.

[2022-11-18 14:44] Nils-Berghs commented on #53
@davidroth, I was just editing my message as I also tried on .net 7 and I have the same exact result.

If I start my app from the command line, using the appref-ms shortcut whitout parameters It works fine, the update check is performed and the application is started.

If I pass a parameter from the command line the update (so I gues the launcher) starts and even updates if one is available but th

[2022-11-18 14:52] davidroth commented on #53
@Nils-Berghs I only tried passing the parameters to the click once web url. And that worked as expected inkl. auto update and starting. (This is how we used it in the .NET Framework days ...)

Example:
`http://david.local:5224/ClickOnceTest.application?SomeArgument=value&Arg2=value2....`
(david.local is just a local web server in this example for testing purposes ...)

I have never directly invoke

[2022-11-18 15:37] Nils-Berghs commented on #53
@davidroth I quickly tried but I haven't gotten far, as I have never publish to a webserver before. If I do this I get the publish page and I'm able to install the app and launch it from start.
But the .application file simply opens as xml in both chrome and edge (which makes total sence to me). I thought that this publishing to a website was a 'Internet Exploder' kind of thing.

I'm guessing I'll

[2022-11-18 16:58] NikolaMilosavljevic commented on #53
ClickOnce activation is supported in Edge - you might have it disabled. Here's the relevant page that discusses the design with directions: https://learn.microsoft.com/en-us/deployedge/edge-learn-more-co-di

ClickOnce activation on Chrome requires a third-party plug-in or extension - there are several, but I do not have a recommendation.

Update from Taskbar-pinned app works, if app is pinned from

[2022-11-21 10:50] Nils-Berghs commented on #53
What about Firefox, Opera, ... everybody (except some Microsoft executives) knows that you cannot force a browser on users.

So back to the main question, when/how will clickonce parameters be available for the appref-ms?

[2022-11-21 22:31] NikolaMilosavljevic commented on #53
Plug-ins have been available for other browsers for many years. Microsoft can only enable ClickOnce support for Microsoft-built browsers, but developers are free to deploy solutions, i.e. plug-ins, to Chrome, Firefox and any other browser they wish. This is not specific to ClickOnce on .NET (Core).

URL parameters support have been available since June of this year, in dotnet-mage preview and in V

[2022-11-22 07:11] Nils-Berghs commented on #53
We have some applications that are desktop applications because they must work at all times (even if network connection is temporarily broken, they must store data locally and send to the server when connection is restored), so again  when/how will clickonce parameters be available for the appref-ms?

In the mean time we are moving to Squirrel for current developments, it's like clickonce but it w

[2022-11-22 14:42] nzain commented on #113
While PR #208 (re?)enables several environment variables (including the activation URI), it does not help with file associations. Double click on an associated file opens the click once app, but all kinds of argument arrays (and the activation URI as well) are empty in the windows app scenario. Multiple dotnet versions (5-7) have passed along and this is not addressed :(

Visual Studio allows to d

[2022-11-22 17:51] NikolaMilosavljevic opened #236 "Application cannot consume arguments provided in .appref-ms activation"
For Clickonce deployed .NET FX applications, it is possible to activate the application via `.appref-ms` file and supply additional arguments, like `%userprofile%\Desktop\MyApp.appref-ms arg1,arg2,arg3`

.NET FX application would obtain those arguments using `AppDomain.CurrentDomain.SetupInformation.ActivationArguments.ActivationData[0]`

This experience is not possible in ClickOnce deployed .NET

[2022-11-22 17:57] NikolaMilosavljevic commented on #53
While it was possible to specify parameters/arguments for appref-ms and consume them from the launched .NET FX application, the recommended model would have been to store them in application's config file. I presume that your scenarios are not fully covered by that solution.

I have created the issue: https://github.com/dotnet/deployment-tools/issues/236 The fix should be easy, and while the appre

[2022-11-22 18:08] NikolaMilosavljevic commented on #113
@nzain I have created a different issue to track activation arguments: https://github.com/dotnet/deployment-tools/issues/236

But the root cause is the same and the solution would cover both scenarios, that are not a lot different.

Once the fix is in place, the application will be able to access the data in environment variables.

[2022-11-24 06:18] hatzhang opened #237 "Internal Error of Could not find a part of the path when mage on linux"
When trying to mage application, i got the following path separator related issue.
I believe the right path should be ```'/Temp/2.0.0.0/'```, instead of ```'/Temp/2.0.0.0\'```.

`
/Temp# ls
2.0.0.0
/Temp# dotnet mage -new Application -t 2.0.0.0/MyStarter.manifest -fd 2.0.0.0 -v 2.0.0.0 -n MyStarterTest
Internal error, please try again. Could not find a part of the path '/Temp/2.0.0.0\'.
`

Do we h

[2022-11-28 17:04] NikolaMilosavljevic commented on #213
This is by design.

[2022-11-28 17:04] #213 closed

[2022-11-28 17:18] #203 closed

[2022-11-28 17:46] #134 closed

[2022-11-28 17:47] NikolaMilosavljevic commented on #134
This was completed.